interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 59d6a9da7f2397fad63e94fc7505d3ae:33f0f9dca4519bef:0:1
      X-Correlation-Id:
      - 59d6a9da7f2397fad63e94fc7505d3ae
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3565'
      ratelimit-reset:
      - '1767714248'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.testfull
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.testfull/TXT\",\n
        \           \"name\": \"orig.testfull\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - e9ac9b752970f0f242a90795617fcbf8:0934b9e6ae69c878:0:1
      X-Correlation-Id:
      - e9ac9b752970f0f242a90795617fcbf8
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3564'
      ratelimit-reset:
      - '1767714249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        25\n        }\n    },\n    \"rrsets\": [\n  [...]
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\"", "comment": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836020,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:33Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 17a63258f37ead9643f290df7b5769d0:aad7a37f9e078359:0:1
      X-Correlation-Id:
      - 17a63258f37ead9643f290df7b5769d0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714219'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836020
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836020,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:33Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 31239769ef693206e6b794f93179abc6:b85b6f2ab907ebe0:0:1
      X-Correlation-Id:
      - 31239769ef693206e6b794f93179abc6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714219'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836020
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836020,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:33Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ef8c517781cfcccb6075346107fd0051:faaea44ac855e4b7:0:1
      X-Correlation-Id:
      - ef8c517781cfcccb6075346107fd0051
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714220'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?page=2
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 2,\n            \"per_page\":
        25,\n            \"previous_page\": 1,\n            \"total_entries\": 1\n
        \       }\n    },\n    \"rrsets\": [[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836042,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee62b8edbffbe6ebb3e8aefb305c3b00:e19ded65bdd151a8:0:1
      X-Correlation-Id:
      - ee62b8edbffbe6ebb3e8aefb305c3b00
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1767714222'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836042
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836042,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cec95f2bcb1b7a239da98387fc395e32:694de3b3956d3b14:0:1
      X-Correlation-Id:
      - cec95f2bcb1b7a239da98387fc395e32
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7188'
      ratelimit-reset:
      - '1767714223'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfull/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836052,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4173d6d7af8ee0e36c6427ab5aa14ec1:17a5563c8238f0a6:0:1
      X-Correlation-Id:
      - 4173d6d7af8ee0e36c6427ab5aa14ec1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1767714225'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836052
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836052,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e2e22cc197c211abfa88b5dacff87b50:f2606ae56ccc6012:0:1
      X-Correlation-Id:
      - e2e22cc197c211abfa88b5dacff87b50
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1767714227'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836052
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836052,\n        \"status\":
        \"success\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:39Z\",\n        \"finished\":
        \"2026-01-06T15:43:41Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d0ef1b8d5893be20e94d2ea4a262a32c:98f7499d4a244446:0:1
      X-Correlation-Id:
      - d0ef1b8d5893be20e94d2ea4a262a32c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7187'
      ratelimit-reset:
      - '1767714228'
    status:
      code: 200
      message: OK
version: 1
