interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6bac440e310d7a656e1a7f4da33ea581:8bf2857c66769e07:0:1
      X-Correlation-Id:
      - 6bac440e310d7a656e1a7f4da33ea581
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3561'
      ratelimit-reset:
      - '1767023983'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 42aea659c318bcdbadc2e238775f31f5:4164d1baa306506c:0:1
      X-Correlation-Id:
      - 42aea659c318bcdbadc2e238775f31f5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5812'
      ratelimit-reset:
      - '1767024638'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0dcef0d0758c652ac04f71e04e983cc3:7c81f0dc77b890af:0:1
      X-Correlation-Id:
      - 0dcef0d0758c652ac04f71e04e983cc3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5811'
      ratelimit-reset:
      - '1767024639'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be5bb9fc7d57e98bd9029df5195c855a:44feac58893189e5:0:1
      X-Correlation-Id:
      - be5bb9fc7d57e98bd9029df5195c855a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5809'
      ratelimit-reset:
      - '1767024640'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b121d7f334b7d290522e5edfea92414e:8998129615625564:0:1
      X-Correlation-Id:
      - b121d7f334b7d290522e5edfea92414e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5807'
      ratelimit-reset:
      - '1767024641'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ed8323ec021e4a37bec83caa13d58994:9ca8876136439e67:0:1
      X-Correlation-Id:
      - ed8323ec021e4a37bec83caa13d58994
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5806'
      ratelimit-reset:
      - '1767024642'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aefdb7b1acd2a9b6c1191a56fe0e0734:ce38a88d426678ce:0:1
      X-Correlation-Id:
      - aefdb7b1acd2a9b6c1191a56fe0e0734
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5802'
      ratelimit-reset:
      - '1767024644'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e457e4343d87ee4c7eef8bd94f102ff0:dde8b844023ec4d8:0:1
      X-Correlation-Id:
      - e457e4343d87ee4c7eef8bd94f102ff0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5800'
      ratelimit-reset:
      - '1767024645'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e58a38e87c5cab5cf4aab73fffda65e4:c7a80edd2008156d:0:1
      X-Correlation-Id:
      - e58a38e87c5cab5cf4aab73fffda65e4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5795'
      ratelimit-reset:
      - '1767024648'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dddff3f241e58fc4c6f7c144e74835f4:96b240a225972345:0:1
      X-Correlation-Id:
      - dddff3f241e58fc4c6f7c144e74835f4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5793'
      ratelimit-reset:
      - '1767024650'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550187
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550187,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:04Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fea9a3b945c990764c40d699ae62b9b5:bb90dffcc1e5f809:0:1
      X-Correlation-Id:
      - fea9a3b945c990764c40d699ae62b9b5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5790'
      ratelimit-reset:
      - '1767024651'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 37885ac886b7c80b9023ad04b435ee70:7d629881a823c671:0:1
      X-Correlation-Id:
      - 37885ac886b7c80b9023ad04b435ee70
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5786'
      ratelimit-reset:
      - '1767024654'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ea6f24838c7a62fce6071db8731ac8b7:6e03e4faa3b01d64:0:1
      X-Correlation-Id:
      - ea6f24838c7a62fce6071db8731ac8b7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5785'
      ratelimit-reset:
      - '1767024655'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bc8ce48168ebf4c8d2f03dfdd87c5c65:ecbb889822a8c46a:0:1
      X-Correlation-Id:
      - bc8ce48168ebf4c8d2f03dfdd87c5c65
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5783'
      ratelimit-reset:
      - '1767024656'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dae07ee47dfa9176124271b500fca22d:b6bf9cef59d30836:0:1
      X-Correlation-Id:
      - dae07ee47dfa9176124271b500fca22d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5776'
      ratelimit-reset:
      - '1767024660'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b749d7b8cb185802c0c8536f16249f75:cecd3d01627aca72:0:1
      X-Correlation-Id:
      - b749d7b8cb185802c0c8536f16249f75
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5775'
      ratelimit-reset:
      - '1767024660'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dfd51a3509455420115eaa862d794428:2e15c0b0c6704486:0:1
      X-Correlation-Id:
      - dfd51a3509455420115eaa862d794428
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5774'
      ratelimit-reset:
      - '1767024661'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c4d640abfec07b28983e0c4240f6baab:f1e060b7222f1700:0:1
      X-Correlation-Id:
      - c4d640abfec07b28983e0c4240f6baab
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5772'
      ratelimit-reset:
      - '1767024662'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550192
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550192,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:59:07Z\",\n        \"finished\":
        \"2025-12-29T15:59:09Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db2ee4a31b18879eb55c8ebf3301290d:f62588efcf8ac223:0:1
      X-Correlation-Id:
      - db2ee4a31b18879eb55c8ebf3301290d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5769'
      ratelimit-reset:
      - '1767024664'
    status:
      code: 200
      message: OK
version: 1
