interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 31,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3ccd81fdde2385b4ceab48b8ad1d402e:56bca167e188a234:0:1
      X-Correlation-Id:
      - 3ccd81fdde2385b4ceab48b8ad1d402e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3584'
      ratelimit-reset:
      - '1767714186'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testid
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"delete.testid/TXT\",\n
        \           \"name\": \"delete.testid\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ac67d2859f9138f832ee943f1dd2f180:73b0925539b5cdd9:0:1
      X-Correlation-Id:
      - ac67d2859f9138f832ee943f1dd2f180
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3583'
      ratelimit-reset:
      - '1767714187'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        2,\n            \"next_page\": 2,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        26\n        }\n    },\n    \"rrsets\": [\n     [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?page=2
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 2,\n            \"per_page\":
        25,\n            \"previous_page\": 1,\n            \"total_entries\": 1\n
        \       }\n    },\n    \"rrsets\": [[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testid/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835816,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:51Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e77b3ca203bd0dd89737c7ae39108151:6d7d5732751a0523:0:1
      X-Correlation-Id:
      - e77b3ca203bd0dd89737c7ae39108151
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3579'
      ratelimit-reset:
      - '1767714192'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835816
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835816,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:51Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0ef507b571eae3ca35102fd45f211c17:8f415ce2c54512f0:0:1
      X-Correlation-Id:
      - 0ef507b571eae3ca35102fd45f211c17
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714174'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835816
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835816,\n        \"status\":
        \"success\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:42:51Z\",\n        \"finished\":
        \"2026-01-06T15:42:53Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb58e28ab4f4fddd4b32d7f3313a29bb:7845434c5aee3be7:0:1
      X-Correlation-Id:
      - bb58e28ab4f4fddd4b32d7f3313a29bb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714176'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testid
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 461ea53db5d522d594186c8b84da5f90:59c09e56422d9629:0:1
      X-Correlation-Id:
      - 461ea53db5d522d594186c8b84da5f90
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1767714193'
    status:
      code: 200
      message: OK
version: 1
