interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 05a1fdbf8a7a00155c0226eacca4c419:68b6963ef7809cc4:0:1
      X-Correlation-Id:
      - 05a1fdbf8a7a00155c0226eacca4c419
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3558'
      ratelimit-reset:
      - '1767023991'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f808c99b0fcaa0dae56a2cf95f4278a7:9c88fc69ef5dff90:0:1
      X-Correlation-Id:
      - f808c99b0fcaa0dae56a2cf95f4278a7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5768'
      ratelimit-reset:
      - '1767024665'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4bf674eeffca8963f5a8e8f80b0c3bbe:f4300c8e15b2f464:0:1
      X-Correlation-Id:
      - 4bf674eeffca8963f5a8e8f80b0c3bbe
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5767'
      ratelimit-reset:
      - '1767024665'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e6310930a501b034635c670fa5b636c7:c61efbdb5e163bb9:0:1
      X-Correlation-Id:
      - e6310930a501b034635c670fa5b636c7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5765'
      ratelimit-reset:
      - '1767024667'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cde237d368e96ecb5f169c62a2559e9d:00a572c412aa701a:0:1
      X-Correlation-Id:
      - cde237d368e96ecb5f169c62a2559e9d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5763'
      ratelimit-reset:
      - '1767024668'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ff8338949413fd4cce503f51254daacc:d219abb1f8ea70a0:0:1
      X-Correlation-Id:
      - ff8338949413fd4cce503f51254daacc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5759'
      ratelimit-reset:
      - '1767024670'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ac2c700d5e31688cc5b39a4f723d867b:ece509a56fec674a:0:1
      X-Correlation-Id:
      - ac2c700d5e31688cc5b39a4f723d867b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5755'
      ratelimit-reset:
      - '1767024673'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bfebcf2c4ccdf98fbbba95567ec64735:a1249b7c3a375512:0:1
      X-Correlation-Id:
      - bfebcf2c4ccdf98fbbba95567ec64735
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5752'
      ratelimit-reset:
      - '1767024674'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d940d51db722c337ef7d896a7d3d6afe:cad49bd4e63b4094:0:1
      X-Correlation-Id:
      - d940d51db722c337ef7d896a7d3d6afe
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5751'
      ratelimit-reset:
      - '1767024675'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a64d4e933c9c6270090cfc46623a39e1:da18c87b26d810c0:0:1
      X-Correlation-Id:
      - a64d4e933c9c6270090cfc46623a39e1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5747'
      ratelimit-reset:
      - '1767024677'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cd1f767469a98a02ec7eceec1219c33a:698fe587640cf8d6:0:1
      X-Correlation-Id:
      - cd1f767469a98a02ec7eceec1219c33a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5743'
      ratelimit-reset:
      - '1767024680'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0f1d53bce3b646ff7b83582847b0a6c:bbab8d8b6c6ff9b6:0:1
      X-Correlation-Id:
      - a0f1d53bce3b646ff7b83582847b0a6c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5741'
      ratelimit-reset:
      - '1767024681'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550197
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550197,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:59:09Z\",\n        \"finished\":
        \"2025-12-29T15:59:11Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c758e81a08cb89a797c336e9906ce8f4:9e1dde6e81462981:0:1
      X-Correlation-Id:
      - c758e81a08cb89a797c336e9906ce8f4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5740'
      ratelimit-reset:
      - '1767024681'
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"value": "\"updated\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 2c2f1f8ffd04151f3ad8a02b635942e1:80f0c74611058005:0:1
      X-Correlation-Id:
      - 2c2f1f8ffd04151f3ad8a02b635942e1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5739'
      ratelimit-reset:
      - '1767024682'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b3ee0a3545771c554e2420d4e7f405cf:f75951b21908537c:0:1
      X-Correlation-Id:
      - b3ee0a3545771c554e2420d4e7f405cf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5737'
      ratelimit-reset:
      - '1767024683'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d443028711a37cc4746c1f2d52813fb6:fe1a88248c04972c:0:1
      X-Correlation-Id:
      - d443028711a37cc4746c1f2d52813fb6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5734'
      ratelimit-reset:
      - '1767024685'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f750c4cd7eb6ec496e928a48e585dfc5:0419478e2da4e686:0:1
      X-Correlation-Id:
      - f750c4cd7eb6ec496e928a48e585dfc5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5724'
      ratelimit-reset:
      - '1767024691'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f311cbf7e0401763d310908d14615342:0068383dd695cdf8:0:1
      X-Correlation-Id:
      - f311cbf7e0401763d310908d14615342
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5723'
      ratelimit-reset:
      - '1767024691'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb3886cb9e6100b70d0c11cff763ec78:a33484288bfc117e:0:1
      X-Correlation-Id:
      - eb3886cb9e6100b70d0c11cff763ec78
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5722'
      ratelimit-reset:
      - '1767024692'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e55891ae2981f0e750b6b8a6699f64e5:1a608eadb0a1a852:0:1
      X-Correlation-Id:
      - e55891ae2981f0e750b6b8a6699f64e5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5721'
      ratelimit-reset:
      - '1767024693'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca10c3d252b9739dbee18fe453658a07:0e59babcae07c8c1:0:1
      X-Correlation-Id:
      - ca10c3d252b9739dbee18fe453658a07
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5714'
      ratelimit-reset:
      - '1767024697'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fb62492708a2438ebbf970c333eebfd3:dcefd067b8c9dd28:0:1
      X-Correlation-Id:
      - fb62492708a2438ebbf970c333eebfd3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5713'
      ratelimit-reset:
      - '1767024697'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b0511d03a67a14928464d2f2cf72c8a1:fecdf00b1fb7aa1a:0:1
      X-Correlation-Id:
      - b0511d03a67a14928464d2f2cf72c8a1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5712'
      ratelimit-reset:
      - '1767024698'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee5f8510cf47bc2374b3734e4feecee8:d53e1ea2dc5b8758:0:1
      X-Correlation-Id:
      - ee5f8510cf47bc2374b3734e4feecee8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5711'
      ratelimit-reset:
      - '1767024699'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d9cd3cb2c03ab1fb0f95fd3bd50a3e95:f1d8f3b4f68bd229:0:1
      X-Correlation-Id:
      - d9cd3cb2c03ab1fb0f95fd3bd50a3e95
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5710'
      ratelimit-reset:
      - '1767024699'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550204
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550204,\n        \"status\":
        \"success\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:59:11Z\",\n        \"finished\":
        \"2025-12-29T15:59:14Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 036f550c87b6891faf88501002922828:41e1e413da563aba:0:1
      X-Correlation-Id:
      - 036f550c87b6891faf88501002922828
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5709'
      ratelimit-reset:
      - '1767024700'
    status:
      code: 200
      message: OK
version: 1
