interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 28,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 63115fb90d4edba93c8eb4d8087f1fdf:3c926c43cb86f12e:0:1
      X-Correlation-Id:
      - 63115fb90d4edba93c8eb4d8087f1fdf
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3586'
      ratelimit-reset:
      - '1767033659'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6fc29bf1d2f27e4cabff24f68be8c3b9:887414b1fa684042:0:1
      X-Correlation-Id:
      - 6fc29bf1d2f27e4cabff24f68be8c3b9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6705'
      ratelimit-reset:
      - '1767033893'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3da133906036f0ccb5c36366a5e40755:d6cde3b46e0a084e:0:1
      X-Correlation-Id:
      - 3da133906036f0ccb5c36366a5e40755
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6704'
      ratelimit-reset:
      - '1767033893'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a10f61bf6242e53e23dd4b9e36971bfd:ccd8f3db4099aee3:0:1
      X-Correlation-Id:
      - a10f61bf6242e53e23dd4b9e36971bfd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6702'
      ratelimit-reset:
      - '1767033895'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fc6a201c42f96c23e09f51ea0cc11c9f:493894a319a48a08:0:1
      X-Correlation-Id:
      - fc6a201c42f96c23e09f51ea0cc11c9f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6700'
      ratelimit-reset:
      - '1767033896'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bcea147754b34f53152694dedf9f4099:71d82531d68991a5:0:1
      X-Correlation-Id:
      - bcea147754b34f53152694dedf9f4099
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6697'
      ratelimit-reset:
      - '1767033897'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - caaac9997d063f368c196fc6ff66d40b:0ed149a396c96294:0:1
      X-Correlation-Id:
      - caaac9997d063f368c196fc6ff66d40b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6693'
      ratelimit-reset:
      - '1767033900'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f7b722f283ef5aa2c515b21e2f4ceb9a:0934ce1abe59dd1a:0:1
      X-Correlation-Id:
      - f7b722f283ef5aa2c515b21e2f4ceb9a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6690'
      ratelimit-reset:
      - '1767033902'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee0016e9a8c1fee5a8a63a65737d361a:c17cc9e86d755345:0:1
      X-Correlation-Id:
      - ee0016e9a8c1fee5a8a63a65737d361a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6689'
      ratelimit-reset:
      - '1767033902'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bd0c06c6893596868a8ca262a435859d:f2137d67dc70df38:0:1
      X-Correlation-Id:
      - bd0c06c6893596868a8ca262a435859d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6688'
      ratelimit-reset:
      - '1767033903'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e6d5202073d1c8881ec7bcd1a7af8b44:f203a5cbac490f12:0:1
      X-Correlation-Id:
      - e6d5202073d1c8881ec7bcd1a7af8b44
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6684'
      ratelimit-reset:
      - '1767033905'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df4c934e8ee445bf9feda36b81f105f8:5e705ad0f5853fa7:0:1
      X-Correlation-Id:
      - df4c934e8ee445bf9feda36b81f105f8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6682'
      ratelimit-reset:
      - '1767033906'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a330f660b4e4321083f31ed5e185fa74:f179ea4a56d692f4:0:1
      X-Correlation-Id:
      - a330f660b4e4321083f31ed5e185fa74
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6681'
      ratelimit-reset:
      - '1767033907'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392422
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392422,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:45Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - afb354e925a3bfdd2ce78ae7f40a7c4d:acf8b0533d1c6f51:0:1
      X-Correlation-Id:
      - afb354e925a3bfdd2ce78ae7f40a7c4d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6679'
      ratelimit-reset:
      - '1767033908'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0d8fed1f57e6effbfe777ae907cf187f:4416449ce5a1f264:0:1
      X-Correlation-Id:
      - 0d8fed1f57e6effbfe777ae907cf187f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6677'
      ratelimit-reset:
      - '1767033909'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b38a697d1ddccb63703eecaffb2538f3:a91239e4434d76fa:0:1
      X-Correlation-Id:
      - b38a697d1ddccb63703eecaffb2538f3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6672'
      ratelimit-reset:
      - '1767033912'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e13c51c46f112c0399ce19212deec82f:6672c8e1dcd1a7ad:0:1
      X-Correlation-Id:
      - e13c51c46f112c0399ce19212deec82f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6669'
      ratelimit-reset:
      - '1767033914'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a00a81095496dffaac6bfbcba50fdc61:9dfc625e17a4e6ab:0:1
      X-Correlation-Id:
      - a00a81095496dffaac6bfbcba50fdc61
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6667'
      ratelimit-reset:
      - '1767033915'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d7aab677a78b3c0e1ed6c8c01bd14602:42dfa41c8fcf988d:0:1
      X-Correlation-Id:
      - d7aab677a78b3c0e1ed6c8c01bd14602
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6663'
      ratelimit-reset:
      - '1767033917'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b16082d5d66b1fa127464cbc28c996d0:b6a21c209470fddf:0:1
      X-Correlation-Id:
      - b16082d5d66b1fa127464cbc28c996d0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6661'
      ratelimit-reset:
      - '1767033919'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392431
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392431,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:40:48Z\",\n        \"finished\":
        \"2025-12-29T18:40:50Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d8fe467d3a71bc9d2b0f448495492604:13492690c6064249:0:1
      X-Correlation-Id:
      - d8fe467d3a71bc9d2b0f448495492604
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6656'
      ratelimit-reset:
      - '1767033922'
    status:
      code: 200
      message: OK
[...]
