interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f68d364e29849d3063ffba64f7393673:47e0e7f22fa26856:0:1
      X-Correlation-Id:
      - f68d364e29849d3063ffba64f7393673
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3564'
      ratelimit-reset:
      - '1767714236'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.nameonly.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.nameonly.test/TXT\",\n
        \           \"name\": \"orig.nameonly.test\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"updated\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - bb41cb23433d4e80530acfaa0afebf59:7ea5ecc15312b784:0:1
      X-Correlation-Id:
      - bb41cb23433d4e80530acfaa0afebf59
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3563'
      ratelimit-reset:
      - '1767714237'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835962,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:21Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5778352d2c9c24d38b847248cdd09283:32380fc44ed39728:0:1
      X-Correlation-Id:
      - 5778352d2c9c24d38b847248cdd09283
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714205'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835962
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835962,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:21Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 08332c0dd732b67c8539e508c9b98a57:6efeba32f3ef53a2:0:1
      X-Correlation-Id:
      - 08332c0dd732b67c8539e508c9b98a57
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714205'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835962
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835962,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:21Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b6cb68452316a1caed3ef619d0e4099c:b7d6ac346a14d6d3:0:1
      X-Correlation-Id:
      - b6cb68452316a1caed3ef619d0e4099c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714206'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835962
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835962,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:21Z\",\n        \"finished\":
        \"2026-01-06T15:43:23Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c3c3c2bf0f04767400e5fd83fbf0e6cc:f6ffe039892be626:0:1
      X-Correlation-Id:
      - c3c3c2bf0f04767400e5fd83fbf0e6cc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714207'
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"value": "\"updated\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835972,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1f901028dab182c1efc604c9567ed243:eb08821c8000b538:0:1
      X-Correlation-Id:
      - 1f901028dab182c1efc604c9567ed243
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714208'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835972
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835972,\n        \"status\":
        \"success\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:23Z\",\n        \"finished\":
        \"2026-01-06T15:43:25Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0fa03e75288c27e4d022a6afb1de3059:ce9e3f27807afbc2:0:1
      X-Correlation-Id:
      - 0fa03e75288c27e4d022a6afb1de3059
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714210'
    status:
      code: 200
      message: OK
version: 1
