interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 04d1f7d5514f24a95ade98efc932a2c8:31ea6b3ea7c0f369:0:1
      X-Correlation-Id:
      - 04d1f7d5514f24a95ade98efc932a2c8
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1767714199'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - edb1a9f1ba52f93dfe9f7612ce19d818:51ad4e41f39c4fe8:0:1
      X-Correlation-Id:
      - edb1a9f1ba52f93dfe9f7612ce19d818
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3579'
      ratelimit-reset:
      - '1767714201'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835862,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:00Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 8d7ecae536c06396f51cae5d2e9cbbfc:ccf84d4de25df7b1:0:1
      X-Correlation-Id:
      - 8d7ecae536c06396f51cae5d2e9cbbfc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714184'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835862
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835862,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:00Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 9523db75755a7bacb4da0eef5e2b8aba:1c886cb2a339fd1b:0:1
      X-Correlation-Id:
      - 9523db75755a7bacb4da0eef5e2b8aba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714184'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835862
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835862,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:00Z\",\n        \"finished\":
        \"2026-01-06T15:43:02Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d889c8455c0819bb22fc5c10145927bd:61c02134b2000255:0:1
      X-Correlation-Id:
      - d889c8455c0819bb22fc5c10145927bd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7192'
      ratelimit-reset:
      - '1767714186'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.deleterecordset/TXT\",\n
        \           \"name\": \"_acme-challenge.deleterecordset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken1\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 8a6a79f7175e149250a7e4aaeaa51ee5:91ff688ad1facb17:0:1
      X-Correlation-Id:
      - 8a6a79f7175e149250a7e4aaeaa51ee5
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1767714202'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken2\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835882,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:02Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ececb7e0b4003f32e9e786d70eb85a7e:279fbe5410b59a90:0:1
      X-Correlation-Id:
      - ececb7e0b4003f32e9e786d70eb85a7e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714187'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835882
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835882,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:02Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb486eb693bbd671ab5f29d5ced5ea2b:4feda2648da123d8:0:1
      X-Correlation-Id:
      - bb486eb693bbd671ab5f29d5ced5ea2b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714187'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835882
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835882,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:02Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fd189f48b1c9e76400fdd1eb9a42d6fb:4fda825c57b37e30:0:1
      X-Correlation-Id:
      - fd189f48b1c9e76400fdd1eb9a42d6fb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714188'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835882
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835882,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:02Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0b8efcb9544d16de83e1b40c839b24a:8afc554530fa3a73:0:1
      X-Correlation-Id:
      - a0b8efcb9544d16de83e1b40c839b24a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714189'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835895,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - abbc25efe1191d2a5a57e40de0309c0e:0c72f3f0db2cc6dd:0:1
      X-Correlation-Id:
      - abbc25efe1191d2a5a57e40de0309c0e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3582'
      ratelimit-reset:
      - '1767714203'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835895
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835895,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b5feec37a63e6c520fdc8d2038454ade:307d2de69319238a:0:1
      X-Correlation-Id:
      - b5feec37a63e6c520fdc8d2038454ade
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714190'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835895
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835895,\n        \"status\":
        \"success\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:05Z\",\n        \"finished\":
        \"2026-01-06T15:43:08Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d0def29a22c8f34f1978c56e693db480:e2da78cd85b879e7:0:1
      X-Correlation-Id:
      - d0def29a22c8f34f1978c56e693db480
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714193'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ddc9a36fa598de60d0268a1252469733:f6cf4557ba3f6dcb:0:1
      X-Correlation-Id:
      - ddc9a36fa598de60d0268a1252469733
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3584'
      ratelimit-reset:
      - '1767714204'
    status:
      code: 200
      message: OK
version: 1
