interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 28,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 9a6f99949243c78b19888e434161e1df:21e21434c4e8a166:0:1
      X-Correlation-Id:
      - 9a6f99949243c78b19888e434161e1df
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3583'
      ratelimit-reset:
      - '1767033670'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5147c8badbb1861be92453a3fc961e15:edb52d2ed38f0022:0:1
      X-Correlation-Id:
      - 5147c8badbb1861be92453a3fc961e15
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6630'
      ratelimit-reset:
      - '1767033938'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5f3ea773789b6995309c64a2b7a51e1c:07a40193432199d4:0:1
      X-Correlation-Id:
      - 5f3ea773789b6995309c64a2b7a51e1c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6629'
      ratelimit-reset:
      - '1767033939'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df2dab4cf97d973d1842afdd6a36ead1:6631f5d0f57320e9:0:1
      X-Correlation-Id:
      - df2dab4cf97d973d1842afdd6a36ead1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6628'
      ratelimit-reset:
      - '1767033939'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cf0eee0f869bec592ab0f85e780d029c:c1fdda8afd05ed0f:0:1
      X-Correlation-Id:
      - cf0eee0f869bec592ab0f85e780d029c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6626'
      ratelimit-reset:
      - '1767033940'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cb81a070184c0dcfc403fe72587fdcaa:1f28e20c97045f73:0:1
      X-Correlation-Id:
      - cb81a070184c0dcfc403fe72587fdcaa
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6623'
      ratelimit-reset:
      - '1767033942'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dac77ca029ea3158253366b1a91c397e:1fc10ee37cc93fe5:0:1
      X-Correlation-Id:
      - dac77ca029ea3158253366b1a91c397e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6622'
      ratelimit-reset:
      - '1767033943'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bbb1623eda36f66f7ba6ce5c71962efd:8c1d74d2ab5b9d7d:0:1
      X-Correlation-Id:
      - bbb1623eda36f66f7ba6ce5c71962efd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6621'
      ratelimit-reset:
      - '1767033943'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1afdcd828915b1594282c2c9811d15a:12c6ad4507f62b08:0:1
      X-Correlation-Id:
      - f1afdcd828915b1594282c2c9811d15a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6620'
      ratelimit-reset:
      - '1767033944'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ecb6fac01e7d4eb63e6fc555db9f7084:6f239577e13ef899:0:1
      X-Correlation-Id:
      - ecb6fac01e7d4eb63e6fc555db9f7084
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6618'
      ratelimit-reset:
      - '1767033945'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb1eb67aee3eb48e6b1d822b8751935b:69e06781270e5115:0:1
      X-Correlation-Id:
      - bb1eb67aee3eb48e6b1d822b8751935b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6617'
      ratelimit-reset:
      - '1767033946'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be885a960e0ffb7fb6ff5648569b2216:8d5793432afce3ff:0:1
      X-Correlation-Id:
      - be885a960e0ffb7fb6ff5648569b2216
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6614'
      ratelimit-reset:
      - '1767033948'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b11c2144f948f61aa746046a7aa9534b:b06b37ddf7153e22:0:1
      X-Correlation-Id:
      - b11c2144f948f61aa746046a7aa9534b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6609'
      ratelimit-reset:
      - '1767033950'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a39eac9a074d7239108d799e6b46a3fc:467c87ea83cb843d:0:1
      X-Correlation-Id:
      - a39eac9a074d7239108d799e6b46a3fc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6608'
      ratelimit-reset:
      - '1767033951'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392444
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392444,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        \"2025-12-29T18:40:55Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1d824b1a2d0c3341a3d9972a26eabfc:99ebafb0a2de9517:0:1
      X-Correlation-Id:
      - f1d824b1a2d0c3341a3d9972a26eabfc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6606'
      ratelimit-reset:
      - '1767033952'
    status:
      code: 200
      message: OK
[...]
