interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/thisisadomainidonotown.com
  response:
    body:
      string: "{\n    \"error\": {\n        \"code\": \"not_found\",\n        \"message\":
        \"Zone not found\",\n        \"details\": null\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6740008bf7450a19dbdd627ca3d6ea76:63989081bb3dcec8:0:1
      X-Correlation-Id:
      - 6740008bf7450a19dbdd627ca3d6ea76
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1767023912'
    status:
      code: 404
      message: Not Found
version: 1
