interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 28,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 2bc57f982f1007a5490e769cc3ad89b7:90f77ddfe0fd3abe:0:1
      X-Correlation-Id:
      - 2bc57f982f1007a5490e769cc3ad89b7
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1767033652'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 9f0623990534e616f54bc127286cccf9:3de4c0516b0d2e6f:0:1
      X-Correlation-Id:
      - 9f0623990534e616f54bc127286cccf9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6838'
      ratelimit-reset:
      - '1767033813'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ae46d3672a8dbdaa89f7d55f8f31087e:6f0f9ce73addc758:0:1
      X-Correlation-Id:
      - ae46d3672a8dbdaa89f7d55f8f31087e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6837'
      ratelimit-reset:
      - '1767033814'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b39c00803b9139fb47660deaff0286a6:57a7f01f12beab1c:0:1
      X-Correlation-Id:
      - b39c00803b9139fb47660deaff0286a6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6833'
      ratelimit-reset:
      - '1767033816'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b6b632b6978fe91c0116127085c62341:a4c711476858f5ed:0:1
      X-Correlation-Id:
      - b6b632b6978fe91c0116127085c62341
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6832'
      ratelimit-reset:
      - '1767033817'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eba81b63d582c3ad047c6b667aa32913:2a21e2616c3ed47c:0:1
      X-Correlation-Id:
      - eba81b63d582c3ad047c6b667aa32913
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6830'
      ratelimit-reset:
      - '1767033818'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f216b23564c71c68059699102df1b431:81c3a92fcb4c9db0:0:1
      X-Correlation-Id:
      - f216b23564c71c68059699102df1b431
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6822'
      ratelimit-reset:
      - '1767033823'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d64a70aa2f3cabb284722ee59bd4380a:6c59e1b9e8c7d021:0:1
      X-Correlation-Id:
      - d64a70aa2f3cabb284722ee59bd4380a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6820'
      ratelimit-reset:
      - '1767033824'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c788d83c803459e2a2fc07da151745f7:4f8f48bc9c62f53b:0:1
      X-Correlation-Id:
      - c788d83c803459e2a2fc07da151745f7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6819'
      ratelimit-reset:
      - '1767033825'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a18f8b312bd6ed893a5e7f3555fa3111:03361cf1879b0215:0:1
      X-Correlation-Id:
      - a18f8b312bd6ed893a5e7f3555fa3111
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6818'
      ratelimit-reset:
      - '1767033826'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ac09b5a7d9133a2e8ab2f672fd3f1540:a75fd1210bac42fd:0:1
      X-Correlation-Id:
      - ac09b5a7d9133a2e8ab2f672fd3f1540
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6816'
      ratelimit-reset:
      - '1767033827'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392340
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392340,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bc80331b0ece5e58f39d57d6de4de283:d387844197a3e200:0:1
      X-Correlation-Id:
      - bc80331b0ece5e58f39d57d6de4de283
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6815'
      ratelimit-reset:
      - '1767033827'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b0181846f31071f1ed4e62b5547c52a9:531f412ac57999a2:0:1
      X-Correlation-Id:
      - b0181846f31071f1ed4e62b5547c52a9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6811'
      ratelimit-reset:
      - '1767033830'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b45d40db5006f37f7b9b2b2feef249b8:98be9461b56e85f7:0:1
      X-Correlation-Id:
      - b45d40db5006f37f7b9b2b2feef249b8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6810'
      ratelimit-reset:
      - '1767033830'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c825e6e848d55f721bbee64a511a6433:4089365c02e0fbf4:0:1
      X-Correlation-Id:
      - c825e6e848d55f721bbee64a511a6433
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6804'
      ratelimit-reset:
      - '1767033834'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e24cc7bb448c228a62674e6319e1521c:46c99612a0f68baa:0:1
      X-Correlation-Id:
      - e24cc7bb448c228a62674e6319e1521c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6802'
      ratelimit-reset:
      - '1767033835'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eafc8cda856c15b0e9511057f40bfa1b:e1760f5503d8c91a:0:1
      X-Correlation-Id:
      - eafc8cda856c15b0e9511057f40bfa1b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6801'
      ratelimit-reset:
      - '1767033836'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d47f2e00eb5f5622b418a9a41e5602ee:c986f7f554a81633:0:1
      X-Correlation-Id:
      - d47f2e00eb5f5622b418a9a41e5602ee
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6799'
      ratelimit-reset:
      - '1767033837'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee917140cd3cdb23f2d4f55770e24ba6:5872112423cc173b:0:1
      X-Correlation-Id:
      - ee917140cd3cdb23f2d4f55770e24ba6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6797'
      ratelimit-reset:
      - '1767033838'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e839ff6a2dabcc1872c8f731030d52cf:cfd03e7c35e93a16:0:1
      X-Correlation-Id:
      - e839ff6a2dabcc1872c8f731030d52cf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6793'
      ratelimit-reset:
      - '1767033840'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f4887b579dae11a0c1319a1c2c1e9bde:0f4870d7868f6140:0:1
      X-Correlation-Id:
      - f4887b579dae11a0c1319a1c2c1e9bde
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6784'
      ratelimit-reset:
      - '1767033846'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d7786195d540b4e4f628a1b0ebc67460:737e70c29108579d:0:1
      X-Correlation-Id:
      - d7786195d540b4e4f628a1b0ebc67460
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6781'
      ratelimit-reset:
      - '1767033847'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ba819d1e6e1a2e650b49bf0c3d92df56:2f8285a72773a5e1:0:1
      X-Correlation-Id:
      - ba819d1e6e1a2e650b49bf0c3d92df56
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6780'
      ratelimit-reset:
      - '1767033848'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ea030344646274f1047bb317c55b6917:924913229d3c7347:0:1
      X-Correlation-Id:
      - ea030344646274f1047bb317c55b6917
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6779'
      ratelimit-reset:
      - '1767033849'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c2b9b42d68250dc309a315394923bf14:a5733317f0df1039:0:1
      X-Correlation-Id:
      - c2b9b42d68250dc309a315394923bf14
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6775'
      ratelimit-reset:
      - '1767033851'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392349
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392349,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:35Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b16a5e82377bb0e8bf039d4004c4442d:064fb28164441384:0:1
      X-Correlation-Id:
      - b16a5e82377bb0e8bf039d4004c4442d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6774'
      ratelimit-reset:
      - '1767033852'
    status:
      code: 200
      message: OK
[...]
