interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee0b3eaa222661e5c0551b5ff9fe004c:fe3883b0140c7c87:0:1
      X-Correlation-Id:
      - ee0b3eaa222661e5c0551b5ff9fe004c
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3579'
      ratelimit-reset:
      - '1767023950'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 66c6c35307e23ad84bfc058c6010fc7e:4c3164fe247ec788:0:1
      X-Correlation-Id:
      - 66c6c35307e23ad84bfc058c6010fc7e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5946'
      ratelimit-reset:
      - '1767024556'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 7fa154790486e342c4ca07e040a66e1f:996e068f4fdcedfc:0:1
      X-Correlation-Id:
      - 7fa154790486e342c4ca07e040a66e1f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5945'
      ratelimit-reset:
      - '1767024556'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9350a7690111724697c8a13577dfa49:1e37205497635c23:0:1
      X-Correlation-Id:
      - e9350a7690111724697c8a13577dfa49
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5939'
      ratelimit-reset:
      - '1767024560'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a54a71ac7510f5d912b4e2283e59ac41:60ed96c4fba9fd6a:0:1
      X-Correlation-Id:
      - a54a71ac7510f5d912b4e2283e59ac41
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5938'
      ratelimit-reset:
      - '1767024560'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aced99cbf2de20602d65589793a86697:84fba0780248f47d:0:1
      X-Correlation-Id:
      - aced99cbf2de20602d65589793a86697
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5935'
      ratelimit-reset:
      - '1767024562'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c874e394fef10ca5a63236c3bed7912c:26bd385f4371da7c:0:1
      X-Correlation-Id:
      - c874e394fef10ca5a63236c3bed7912c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5933'
      ratelimit-reset:
      - '1767024563'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ade6decd1e319689d4be725968411961:672ec12ab6e51583:0:1
      X-Correlation-Id:
      - ade6decd1e319689d4be725968411961
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5932'
      ratelimit-reset:
      - '1767024564'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f5374dfae9d5ef68757d6a1f620a1cb1:eafeb4dfceb27202:0:1
      X-Correlation-Id:
      - f5374dfae9d5ef68757d6a1f620a1cb1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5929'
      ratelimit-reset:
      - '1767024566'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e0c4b13377ff35ae0b5d4fe0ba4f5867:d14ee820db6d7a9e:0:1
      X-Correlation-Id:
      - e0c4b13377ff35ae0b5d4fe0ba4f5867
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5925'
      ratelimit-reset:
      - '1767024568'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d63c463cb542330c0a1ff5aad76a8725:a3d29ac4a64f312c:0:1
      X-Correlation-Id:
      - d63c463cb542330c0a1ff5aad76a8725
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5917'
      ratelimit-reset:
      - '1767024573'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550133
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550133,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:49Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e461ae3e472ecbf2bb78dbb3b1df3e84:d9beab4d8edd5488:0:1
      X-Correlation-Id:
      - e461ae3e472ecbf2bb78dbb3b1df3e84
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5914'
      ratelimit-reset:
      - '1767024575'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 62e221bb877f656a3699cb0fbf371f87:34995eeaaf34fe14:0:1
      X-Correlation-Id:
      - 62e221bb877f656a3699cb0fbf371f87
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5909'
      ratelimit-reset:
      - '1767024578'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eca2c915189351658db076ec88f56af1:142c31c23a0d788d:0:1
      X-Correlation-Id:
      - eca2c915189351658db076ec88f56af1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5908'
      ratelimit-reset:
      - '1767024578'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a2db5a200b68b143bcf29bfc1b41ddbd:cf2ebd8690ebb1cc:0:1
      X-Correlation-Id:
      - a2db5a200b68b143bcf29bfc1b41ddbd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5907'
      ratelimit-reset:
      - '1767024579'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f61a5a069284065f8f83e3d61ce091b7:2bc3e05ab8836b4d:0:1
      X-Correlation-Id:
      - f61a5a069284065f8f83e3d61ce091b7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5905'
      ratelimit-reset:
      - '1767024580'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f043fd75f6ed3eab929ec4b6f2d1cadd:d0af52d684ea103a:0:1
      X-Correlation-Id:
      - f043fd75f6ed3eab929ec4b6f2d1cadd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5904'
      ratelimit-reset:
      - '1767024581'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dc3bf506c760334a17f443b00bedfbf9:ccd31b62fdf7abc0:0:1
      X-Correlation-Id:
      - dc3bf506c760334a17f443b00bedfbf9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5903'
      ratelimit-reset:
      - '1767024581'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e48e15910f6099e41d20961efdb5cd7c:ad8fda02a231be8d:0:1
      X-Correlation-Id:
      - e48e15910f6099e41d20961efdb5cd7c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5900'
      ratelimit-reset:
      - '1767024583'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bce7417f46ba3bb294da2a7cbe55e13a:f0f120ec22c49665:0:1
      X-Correlation-Id:
      - bce7417f46ba3bb294da2a7cbe55e13a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5895'
      ratelimit-reset:
      - '1767024586'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a002322aa04e11b49d1158ca1d7ffc5e:e18b573ad91fec52:0:1
      X-Correlation-Id:
      - a002322aa04e11b49d1158ca1d7ffc5e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5893'
      ratelimit-reset:
      - '1767024587'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df607636066c08652b0c685021dfc505:3b2091c2564f4836:0:1
      X-Correlation-Id:
      - df607636066c08652b0c685021dfc505
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5892'
      ratelimit-reset:
      - '1767024588'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e083741eee3f5a924de11c030e98abc9:7d6cf38b070a94e3:0:1
      X-Correlation-Id:
      - e083741eee3f5a924de11c030e98abc9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5891'
      ratelimit-reset:
      - '1767024588'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f46c4449103d6a22a9fdcb7405a2b378:32d3b6366b0c00ea:0:1
      X-Correlation-Id:
      - f46c4449103d6a22a9fdcb7405a2b378
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5888'
      ratelimit-reset:
      - '1767024590'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a4e691209b4e60745d3608ea34ba9da7:bc56e2569c8b1e05:0:1
      X-Correlation-Id:
      - a4e691209b4e60745d3608ea34ba9da7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5883'
      ratelimit-reset:
      - '1767024593'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f12bd62573f26e5c853fb538317a6cd1:8a8ba99f6f7f3ba8:0:1
      X-Correlation-Id:
      - f12bd62573f26e5c853fb538317a6cd1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5882'
      ratelimit-reset:
      - '1767024594'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550146
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550146,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:52Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
[...]
