interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 28,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6fa2e4efba0db88c1bf88fdee2b2ba3d:3e8ec211ab799104:0:1
      X-Correlation-Id:
      - 6fa2e4efba0db88c1bf88fdee2b2ba3d
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3583'
      ratelimit-reset:
      - '1767033656'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c57c16c581fe96a975c618b796048c2a:8ac295224a3b9d4e:0:1
      X-Correlation-Id:
      - c57c16c581fe96a975c618b796048c2a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6772'
      ratelimit-reset:
      - '1767033853'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f17834786e3e0c4a0bdf53065d2833bb:573e39092ca70d20:0:1
      X-Correlation-Id:
      - f17834786e3e0c4a0bdf53065d2833bb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6771'
      ratelimit-reset:
      - '1767033854'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c300c8703aa4bfea8b86872de08943c9:796b3c612c1ae43d:0:1
      X-Correlation-Id:
      - c300c8703aa4bfea8b86872de08943c9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6769'
      ratelimit-reset:
      - '1767033855'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e10f2bace8ca89a17be2f39ff89664a9:916e0d6683a29dbe:0:1
      X-Correlation-Id:
      - e10f2bace8ca89a17be2f39ff89664a9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6766'
      ratelimit-reset:
      - '1767033857'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cbea34132c051f3e3d9c278f09f469dd:f440b7b4e42c9ced:0:1
      X-Correlation-Id:
      - cbea34132c051f3e3d9c278f09f469dd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6765'
      ratelimit-reset:
      - '1767033857'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cfab517ac2f60c0824b46393a835a320:14aea24a922ba56b:0:1
      X-Correlation-Id:
      - cfab517ac2f60c0824b46393a835a320
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6763'
      ratelimit-reset:
      - '1767033858'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db7e9ce6bfeb9cb73d29ed29cfec581f:7d825f71cafba3d8:0:1
      X-Correlation-Id:
      - db7e9ce6bfeb9cb73d29ed29cfec581f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6760'
      ratelimit-reset:
      - '1767033860'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c1083e7c5a3b9fcda73a0045e5635df8:8adc8f22c7ffe3c6:0:1
      X-Correlation-Id:
      - c1083e7c5a3b9fcda73a0045e5635df8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6759'
      ratelimit-reset:
      - '1767033861'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d1c88a9d7daf09ab82248823fee8c90d:8dba6f564902a74b:0:1
      X-Correlation-Id:
      - d1c88a9d7daf09ab82248823fee8c90d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6756'
      ratelimit-reset:
      - '1767033863'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a5c57d9e105a417a5ebfbaf7099cf32f:705af7cc09bd7ae1:0:1
      X-Correlation-Id:
      - a5c57d9e105a417a5ebfbaf7099cf32f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6755'
      ratelimit-reset:
      - '1767033863'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a49b281aa198f54fab3b0e90c0feb256:ac92702fb2363942:0:1
      X-Correlation-Id:
      - a49b281aa198f54fab3b0e90c0feb256
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6752'
      ratelimit-reset:
      - '1767033865'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392360
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392360,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d6a9daa90698b8038d5a3899fcee79f4:023b2c8d32e5f376:0:1
      X-Correlation-Id:
      - d6a9daa90698b8038d5a3899fcee79f4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6751'
      ratelimit-reset:
      - '1767033865'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 92ed4327087015d886c74884f5cd0154:716b1735e81e3cf8:0:1
      X-Correlation-Id:
      - 92ed4327087015d886c74884f5cd0154
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6747'
      ratelimit-reset:
      - '1767033868'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e2f164e8a7d910a7254ab512eb23f41b:0f27706d36fba22b:0:1
      X-Correlation-Id:
      - e2f164e8a7d910a7254ab512eb23f41b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6746'
      ratelimit-reset:
      - '1767033868'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c3db5a4ba5d0c1790fe68c6b5e64f46e:f2e691f592fc3d3a:0:1
      X-Correlation-Id:
      - c3db5a4ba5d0c1790fe68c6b5e64f46e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6745'
      ratelimit-reset:
      - '1767033869'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d5681f2e30b37e0b7fcec43f44c9fe3c:4e02256cd382d097:0:1
      X-Correlation-Id:
      - d5681f2e30b37e0b7fcec43f44c9fe3c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6743'
      ratelimit-reset:
      - '1767033870'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - daf059d4e3ee418667e6e6886a3550cc:204346f03e455249:0:1
      X-Correlation-Id:
      - daf059d4e3ee418667e6e6886a3550cc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6741'
      ratelimit-reset:
      - '1767033871'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb21e6e6db5352695c60dab356a4e974:b55b6de0f0c7ddea:0:1
      X-Correlation-Id:
      - eb21e6e6db5352695c60dab356a4e974
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6740'
      ratelimit-reset:
      - '1767033872'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca33634e57ea80694fbe2dbfd552f77e:39a3c9713bac8454:0:1
      X-Correlation-Id:
      - ca33634e57ea80694fbe2dbfd552f77e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6725'
      ratelimit-reset:
      - '1767033881'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c7d8b6f29c457dae1dae0511bfb745ee:1b53ef505187d83a:0:1
      X-Correlation-Id:
      - c7d8b6f29c457dae1dae0511bfb745ee
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6722'
      ratelimit-reset:
      - '1767033883'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e0e2abb8690cbe40a2062fc28c22e790:8f46497b22cdb982:0:1
      X-Correlation-Id:
      - e0e2abb8690cbe40a2062fc28c22e790
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6717'
      ratelimit-reset:
      - '1767033886'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9e52d50f9f350f026ffa93acad62828:1440e15f8663f7b0:0:1
      X-Correlation-Id:
      - e9e52d50f9f350f026ffa93acad62828
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6716'
      ratelimit-reset:
      - '1767033886'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cb71eb5d09dca4bdcc36780064d0dcb7:18a0f6db1f631c99:0:1
      X-Correlation-Id:
      - cb71eb5d09dca4bdcc36780064d0dcb7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6714'
      ratelimit-reset:
      - '1767033887'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ef3ce8fe58d2d05d1f15608d2ddb9928:653230d7a68320bb:0:1
      X-Correlation-Id:
      - ef3ce8fe58d2d05d1f15608d2ddb9928
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6713'
      ratelimit-reset:
      - '1767033888'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392365
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392365,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b4c9684b75f4f809753c2ef918e34a9a:0d8005623228c7f0:0:1
      X-Correlation-Id:
      - b4c9684b75f4f809753c2ef918e34a9a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6710'
      ratelimit-reset:
      - '1767033890'
    status:
      code: 200
      message: OK
[...]
