interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee73e70fdd6400674567ca082f990a02:f67aafaa7aa7a545:0:1
      X-Correlation-Id:
      - ee73e70fdd6400674567ca082f990a02
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3576'
      ratelimit-reset:
      - '1767714213'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=random.fqdntest
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"random.fqdntest/TXT\",\n
        \           \"name\": \"random.fqdntest\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - b52d015837bd93dffe296bb796c6ad7f:88bd49070bda2fa9:0:1
      X-Correlation-Id:
      - b52d015837bd93dffe296bb796c6ad7f
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3575'
      ratelimit-reset:
      - '1767714214'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=random.fqdntest
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"random.fqdntest/TXT\",\n
        \           \"name\": \"random.fqdntest\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ea57d37ec42ee812259e35da4cd8d337:58bbdee5f5ca77e5:0:1
      X-Correlation-Id:
      - ea57d37ec42ee812259e35da4cd8d337
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3574'
      ratelimit-reset:
      - '1767714216'
    status:
      code: 200
      message: OK
version: 1
