interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be9a3e8956d926395ee1d868e3d0c878:4a0978684ebb0ba3:0:1
      X-Correlation-Id:
      - be9a3e8956d926395ee1d868e3d0c878
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3559'
      ratelimit-reset:
      - '1767024001'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fbe52871e5d1eadd40b7df4a17126490:373375f18434169c:0:1
      X-Correlation-Id:
      - fbe52871e5d1eadd40b7df4a17126490
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5655'
      ratelimit-reset:
      - '1767024733'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 2d1b4c81b10c97f0bc1872c02cc11f54:79318e6067a7cc5d:0:1
      X-Correlation-Id:
      - 2d1b4c81b10c97f0bc1872c02cc11f54
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5654'
      ratelimit-reset:
      - '1767024733'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bf21d02585b3ed3578e62920e1a71eba:14aa54b950859af4:0:1
      X-Correlation-Id:
      - bf21d02585b3ed3578e62920e1a71eba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5653'
      ratelimit-reset:
      - '1767024734'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a72cb97a1f6cf73836468ab956273cfb:a4229b2a4e17bfbc:0:1
      X-Correlation-Id:
      - a72cb97a1f6cf73836468ab956273cfb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5651'
      ratelimit-reset:
      - '1767024735'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b16a9618c7ee296e52fdc19f3d28c752:7abaefb5766cc9f4:0:1
      X-Correlation-Id:
      - b16a9618c7ee296e52fdc19f3d28c752
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5648'
      ratelimit-reset:
      - '1767024737'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d9cc7395d2d1b8e8f549effbea995fbc:9542653b6e8635cc:0:1
      X-Correlation-Id:
      - d9cc7395d2d1b8e8f549effbea995fbc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5647'
      ratelimit-reset:
      - '1767024737'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b34a2e2d3755f95d1000985374b7e990:6819ccb424be43a2:0:1
      X-Correlation-Id:
      - b34a2e2d3755f95d1000985374b7e990
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5640'
      ratelimit-reset:
      - '1767024741'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c02b1de313b6aaf0eb1c30fda5dac2b5:5ae3b1eab6fad10e:0:1
      X-Correlation-Id:
      - c02b1de313b6aaf0eb1c30fda5dac2b5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5639'
      ratelimit-reset:
      - '1767024742'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c41202897a0326e933c499aa0a03f11e:04f64f494649dcb1:0:1
      X-Correlation-Id:
      - c41202897a0326e933c499aa0a03f11e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5638'
      ratelimit-reset:
      - '1767024743'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b8ed2749cfaca31b862c654405f6a76c:5d8aae41564aed43:0:1
      X-Correlation-Id:
      - b8ed2749cfaca31b862c654405f6a76c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5635'
      ratelimit-reset:
      - '1767024744'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c0000b1f7e55cd81755e31bb5b093324:6ec778ba2b5e32a8:0:1
      X-Correlation-Id:
      - c0000b1f7e55cd81755e31bb5b093324
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5633'
      ratelimit-reset:
      - '1767024746'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550223
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550223,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:20Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d1e3faeeaae63e5e286a2b9315a996f7:0cdfacd6431b95ac:0:1
      X-Correlation-Id:
      - d1e3faeeaae63e5e286a2b9315a996f7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5625'
      ratelimit-reset:
      - '1767024750'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1c02f567e3f684ad442a0e30c362443a:ae576a69477b0cb5:0:1
      X-Correlation-Id:
      - 1c02f567e3f684ad442a0e30c362443a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5623'
      ratelimit-reset:
      - '1767024752'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bdbcd39b3b194eb8d96b4d778149f5d1:d186d7154f6ca97b:0:1
      X-Correlation-Id:
      - bdbcd39b3b194eb8d96b4d778149f5d1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5616'
      ratelimit-reset:
      - '1767024756'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c4939495c7e36a10bf2b2bfcda7dce24:1bbc0eac13f9b519:0:1
      X-Correlation-Id:
      - c4939495c7e36a10bf2b2bfcda7dce24
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5615'
      ratelimit-reset:
      - '1767024757'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e13c41242b1726e985773f8b7e7881bb:a70a4ca019fc1ae9:0:1
      X-Correlation-Id:
      - e13c41242b1726e985773f8b7e7881bb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5610'
      ratelimit-reset:
      - '1767024760'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f74322d552e73bfcb9e20377db449b44:19bf266c20b56f07:0:1
      X-Correlation-Id:
      - f74322d552e73bfcb9e20377db449b44
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5608'
      ratelimit-reset:
      - '1767024761'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a84b0801d40fd2d4a0cf21ce2b31c61f:c4aac956e60a5e10:0:1
      X-Correlation-Id:
      - a84b0801d40fd2d4a0cf21ce2b31c61f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5601'
      ratelimit-reset:
      - '1767024765'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cea8c521d586c655cb5f481f1b93042c:7c6d4ad535180206:0:1
      X-Correlation-Id:
      - cea8c521d586c655cb5f481f1b93042c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5600'
      ratelimit-reset:
      - '1767024766'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550233
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550233,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:59:23Z\",\n        \"finished\":
        \"2025-12-29T15:59:26Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3416a8275a850e27772ec0113e1a50a1:a890842bcf8a2d29:0:1
      X-Correlation-Id:
      - 3416a8275a850e27772ec0113e1a50a1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5598'
      ratelimit-reset:
      - '1767024767'
    status:
      code: 200
      message: OK
version: 1
