interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5589d2a313769af1386d26c9315b0a61:3b05b914e67059f1:0:1
      X-Correlation-Id:
      - 5589d2a313769af1386d26c9315b0a61
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3579'
      ratelimit-reset:
      - '1767714194'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.deleterecordinset
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.deleterecordinset/TXT\",\n
        \           \"name\": \"_acme-challenge.deleterecordinset\",\n            \"type\":
        \"TXT\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken2\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 639e438bb224839928f77b299ccbac27:c57c1eecc524a286:0:1
      X-Correlation-Id:
      - 639e438bb224839928f77b299ccbac27
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3578'
      ratelimit-reset:
      - '1767714195'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835830,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5236daafb03ef837a7509b6f3370d803:defc8276978ef5b9:0:1
      X-Correlation-Id:
      - 5236daafb03ef837a7509b6f3370d803
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1767714177'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835830
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835830,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f67b06ab3ece7f141615b1febfce55fe:429bee8eca0fcc6d:0:1
      X-Correlation-Id:
      - f67b06ab3ece7f141615b1febfce55fe
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1767714177'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835830
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835830,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:42:54Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb087fec341590899b99530b727773b8:cef817689e0e1593:0:1
      X-Correlation-Id:
      - eb087fec341590899b99530b727773b8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1767714178'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordinset/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835844,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 946f2fed74bb97be2cec5aa8588de2d9:2350a646ea07e137:0:1
      X-Correlation-Id:
      - 946f2fed74bb97be2cec5aa8588de2d9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1767714180'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835844
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835844,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b9ad24330fd928bae94d7fd82c4b7883:84aff0e91b783755:0:1
      X-Correlation-Id:
      - b9ad24330fd928bae94d7fd82c4b7883
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1767714180'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835844
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835844,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f2ae69eb095a8a538ea0c3e2603ac9bf:b0547935214f2080:0:1
      X-Correlation-Id:
      - f2ae69eb095a8a538ea0c3e2603ac9bf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1767714181'
    status:
      code: 200
      message: OK
[...]
