interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 53e867d136b68686120308b9ede62ab7:c14743261caa9265:0:1
      X-Correlation-Id:
      - 53e867d136b68686120308b9ede62ab7
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3583'
      ratelimit-reset:
      - '1767023943'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testid/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1befca55542174fd08df04cc6f9d3d06:fd7e45d6c963823d:0:1
      X-Correlation-Id:
      - 1befca55542174fd08df04cc6f9d3d06
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5974'
      ratelimit-reset:
      - '1767024539'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d6066386bce422f3f51f782220e4bf77:9eb34ae31b9feeb2:0:1
      X-Correlation-Id:
      - d6066386bce422f3f51f782220e4bf77
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5973'
      ratelimit-reset:
      - '1767024539'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9eab31fdf9b36fc408c1e9b3864b73f:909c81c5924c26ef:0:1
      X-Correlation-Id:
      - e9eab31fdf9b36fc408c1e9b3864b73f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5971'
      ratelimit-reset:
      - '1767024541'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bd10b7f95bf8619f530ef09284bdf59e:21f16e7bc6f216c3:0:1
      X-Correlation-Id:
      - bd10b7f95bf8619f530ef09284bdf59e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5970'
      ratelimit-reset:
      - '1767024541'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0c7ab66e195886c7092b90c4a3165ae:e98415dceeca4b1a:0:1
      X-Correlation-Id:
      - a0c7ab66e195886c7092b90c4a3165ae
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5969'
      ratelimit-reset:
      - '1767024542'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ac5b6f28d9ae1c07eacad6626d08b9d7:281949e8e9a6ba7d:0:1
      X-Correlation-Id:
      - ac5b6f28d9ae1c07eacad6626d08b9d7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5966'
      ratelimit-reset:
      - '1767024543'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e4c2a4ffa67399b5f741fb30a39a1706:4ec6a97ec7e2fe21:0:1
      X-Correlation-Id:
      - e4c2a4ffa67399b5f741fb30a39a1706
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5965'
      ratelimit-reset:
      - '1767024544'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dfcb9888d90f50924ef4580e07019c59:1b48313ce8780998:0:1
      X-Correlation-Id:
      - dfcb9888d90f50924ef4580e07019c59
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5963'
      ratelimit-reset:
      - '1767024545'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c22666dac179f4a1caa42655dc38dfa0:fc02fb6006cbd381:0:1
      X-Correlation-Id:
      - c22666dac179f4a1caa42655dc38dfa0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5962'
      ratelimit-reset:
      - '1767024546'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d841858725ba4df6415a922ed8487faa:5b95ef1986602979:0:1
      X-Correlation-Id:
      - d841858725ba4df6415a922ed8487faa
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5960'
      ratelimit-reset:
      - '1767024547'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dc76f78aad0064ce316dcc60b39d1f5b:0a4d48c21715f58d:0:1
      X-Correlation-Id:
      - dc76f78aad0064ce316dcc60b39d1f5b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5959'
      ratelimit-reset:
      - '1767024547'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d9b31959f22ed5522a2d15a327d07e63:a82116866a71ebce:0:1
      X-Correlation-Id:
      - d9b31959f22ed5522a2d15a327d07e63
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5955'
      ratelimit-reset:
      - '1767024550'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca656b389dd72a55dbe17e9c33f87a02:8d028132fd0d84f3:0:1
      X-Correlation-Id:
      - ca656b389dd72a55dbe17e9c33f87a02
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5954'
      ratelimit-reset:
      - '1767024550'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ddc1faddf91999261962259f57fea7bf:98bd440db6b6d82f:0:1
      X-Correlation-Id:
      - ddc1faddf91999261962259f57fea7bf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5950'
      ratelimit-reset:
      - '1767024553'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550122
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550122,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:46Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b7ce9f55dfdd2520536fbfa5aeee9f18:c285741dfb435d83:0:1
      X-Correlation-Id:
      - b7ce9f55dfdd2520536fbfa5aeee9f18
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5947'
      ratelimit-reset:
      - '1767024554'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testid/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550131,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:48Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 742b009933540f71424dbb267d1a593c:b42339c323902732:0:1
      X-Correlation-Id:
      - 742b009933540f71424dbb267d1a593c
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3581'
      ratelimit-reset:
      - '1767023947'
    status:
      code: 201
      message: Created
[...]
