interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bb2d3d92323e72502914597db169b225:eeeef8165362e255:0:1
      X-Correlation-Id:
      - bb2d3d92323e72502914597db169b225
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3567'
      ratelimit-reset:
      - '1767714239'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.testfqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.testfqdn/TXT\",\n
        \           \"name\": \"orig.testfqdn\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 259df9ae304cd5f787050f1736e132bb:f28d527d2201de3a:0:1
      X-Correlation-Id:
      - 259df9ae304cd5f787050f1736e132bb
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3566'
      ratelimit-reset:
      - '1767714240'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        25\n        }\n    },\n    \"rrsets\": [\n  [...]
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\"", "comment": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835984,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aa1547d3c9f389669a042a6504720417:3cf5cd344d93344b:0:1
      X-Correlation-Id:
      - aa1547d3c9f389669a042a6504720417
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714211'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835984
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835984,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d5232971e00c9fd63153deac0719ffe7:7ea28ce912b0b37f:0:1
      X-Correlation-Id:
      - d5232971e00c9fd63153deac0719ffe7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7191'
      ratelimit-reset:
      - '1767714211'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?page=2
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 2,\n            \"per_page\":
        25,\n            \"previous_page\": 1,\n            \"total_entries\": 1\n
        \       }\n    },\n    \"rrsets\": [[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835999,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:29Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 79e851c454f3f094c0ef44531193462b:592266f3baf615c5:0:1
      X-Correlation-Id:
      - 79e851c454f3f094c0ef44531193462b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1767714214'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835999
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835999,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:29Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f897e432f6e9a718ac02e4df686641f0:18b1563cbc2bd2da:0:1
      X-Correlation-Id:
      - f897e432f6e9a718ac02e4df686641f0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7190'
      ratelimit-reset:
      - '1767714215'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.testfqdn/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836008,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:31Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a1883cdbe332441fc3c58899791757d3:7648b54cfaf9d819:0:1
      X-Correlation-Id:
      - a1883cdbe332441fc3c58899791757d3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714216'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836008
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836008,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:31Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d9d9becc23bc95d209c0bcd997ed1ccf:cf8bd2875b40ecc4:0:1
      X-Correlation-Id:
      - d9d9becc23bc95d209c0bcd997ed1ccf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714217'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836008
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836008,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:31Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dfb4a6e3ccda5bd6cfde0bf4fecedaf6:721f0816bfe7849a:0:1
      X-Correlation-Id:
      - dfb4a6e3ccda5bd6cfde0bf4fecedaf6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714218'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582836008
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582836008,\n        \"status\":
        \"success\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:31Z\",\n        \"finished\":
        \"2026-01-06T15:43:33Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - baa5a5b25c63fc87be9aa52eca5ffa4b:c4e39b75a13d8f7d:0:1
      X-Correlation-Id:
      - baa5a5b25c63fc87be9aa52eca5ffa4b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7189'
      ratelimit-reset:
      - '1767714218'
    status:
      code: 200
      message: OK
version: 1
