interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/thisisadomainidonotown.com
  response:
    body:
      string: "{\n    \"error\": {\n        \"code\": \"not_found\",\n        \"message\":
        \"Zone not found\",\n        \"details\": null\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a37f9179e33741378191ed5282893d72:f9d8cdcf8ea1ff2f:0:1
      X-Correlation-Id:
      - a37f9179e33741378191ed5282893d72
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3598'
      ratelimit-reset:
      - '1767033632'
    status:
      code: 404
      message: Not Found
version: 1
