interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 32d69b9d09250bc4fbc34677c9dc085b:4ae23451215b81af:0:1
      X-Correlation-Id:
      - 32d69b9d09250bc4fbc34677c9dc085b
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3561'
      ratelimit-reset:
      - '1767023993'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1f5e387f6de26d239e2df20d1ba06521:3fabb9e5eeea5feb:0:1
      X-Correlation-Id:
      - 1f5e387f6de26d239e2df20d1ba06521
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5708'
      ratelimit-reset:
      - '1767024701'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fcaed96bfd83fe47606ebc35a5e9294d:95557ae6a98bb18b:0:1
      X-Correlation-Id:
      - fcaed96bfd83fe47606ebc35a5e9294d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5707'
      ratelimit-reset:
      - '1767024701'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e40360800ce47cf892745af1d9c3b46d:3e6e34515c45841c:0:1
      X-Correlation-Id:
      - e40360800ce47cf892745af1d9c3b46d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5705'
      ratelimit-reset:
      - '1767024702'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - affec3d7472baa8a03cbf4c675046d77:e8d4053cf875406f:0:1
      X-Correlation-Id:
      - affec3d7472baa8a03cbf4c675046d77
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5703'
      ratelimit-reset:
      - '1767024704'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f503df2c62414dde3abc868673913995:7da1ff25e3a62950:0:1
      X-Correlation-Id:
      - f503df2c62414dde3abc868673913995
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5701'
      ratelimit-reset:
      - '1767024705'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db2f89d4aac56bc34f5b0c508b05feae:f9eca4c59760e0a1:0:1
      X-Correlation-Id:
      - db2f89d4aac56bc34f5b0c508b05feae
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5696'
      ratelimit-reset:
      - '1767024708'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb705909a1ef21e666f852d827cd7d55:2f900c6657c14022:0:1
      X-Correlation-Id:
      - eb705909a1ef21e666f852d827cd7d55
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5695'
      ratelimit-reset:
      - '1767024708'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eceac1f1b89f491418f6b00905ddd6dd:da4a38b403ba3b17:0:1
      X-Correlation-Id:
      - eceac1f1b89f491418f6b00905ddd6dd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5693'
      ratelimit-reset:
      - '1767024710'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f87adfaa71f06dfea7edb600dc99d91f:4985aefc9a30befe:0:1
      X-Correlation-Id:
      - f87adfaa71f06dfea7edb600dc99d91f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5688'
      ratelimit-reset:
      - '1767024712'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f338a3614e81ce01fd4158c11b4dba4b:c3c81882a64276f9:0:1
      X-Correlation-Id:
      - f338a3614e81ce01fd4158c11b4dba4b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5687'
      ratelimit-reset:
      - '1767024713'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550211
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550211,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cae47a29b92b676094ddd3bb375554cb:ee5b7d31e7ecda5a:0:1
      X-Correlation-Id:
      - cae47a29b92b676094ddd3bb375554cb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5684'
      ratelimit-reset:
      - '1767024715'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 56f58eff92b1cc2241081e3964b5175d:8d58b5e208945979:0:1
      X-Correlation-Id:
      - 56f58eff92b1cc2241081e3964b5175d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5682'
      ratelimit-reset:
      - '1767024716'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - decbb484b06aceb75ed99c396205969f:be764a0f15650255:0:1
      X-Correlation-Id:
      - decbb484b06aceb75ed99c396205969f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5680'
      ratelimit-reset:
      - '1767024718'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f3e974724519e1fee869daf4513a58e1:b48147b58b2e304c:0:1
      X-Correlation-Id:
      - f3e974724519e1fee869daf4513a58e1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5677'
      ratelimit-reset:
      - '1767024719'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b97903976af910fc89db4646ca5239fc:dfdfb8ca645cf117:0:1
      X-Correlation-Id:
      - b97903976af910fc89db4646ca5239fc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5674'
      ratelimit-reset:
      - '1767024721'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d061c56bdb306729aebcb3a376e3b03e:535cbefcb1badcee:0:1
      X-Correlation-Id:
      - d061c56bdb306729aebcb3a376e3b03e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5672'
      ratelimit-reset:
      - '1767024722'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e82117b878194ca70d3c728bc11964f9:7eb03f85a1bb8308:0:1
      X-Correlation-Id:
      - e82117b878194ca70d3c728bc11964f9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5670'
      ratelimit-reset:
      - '1767024724'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a4d164d50c90c06c043a2321cdd883c9:87e48126fef2b915:0:1
      X-Correlation-Id:
      - a4d164d50c90c06c043a2321cdd883c9
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5668'
      ratelimit-reset:
      - '1767024725'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b057388e49756fc58729d361255d87b2:cd21bc770d80ce6f:0:1
      X-Correlation-Id:
      - b057388e49756fc58729d361255d87b2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5666'
      ratelimit-reset:
      - '1767024726'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dffedbdc6bff000d864fdb7b673d33de:bf75273bd07f93dd:0:1
      X-Correlation-Id:
      - dffedbdc6bff000d864fdb7b673d33de
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5664'
      ratelimit-reset:
      - '1767024727'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c8eed47cd9b222509fa53fb7a19e31de:ca18e44bc0745fc1:0:1
      X-Correlation-Id:
      - c8eed47cd9b222509fa53fb7a19e31de
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5663'
      ratelimit-reset:
      - '1767024728'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e403e815d7486e3859d494b085301fd4:552e73fb584dfd83:0:1
      X-Correlation-Id:
      - e403e815d7486e3859d494b085301fd4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5661'
      ratelimit-reset:
      - '1767024729'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f316d6fb9ec6a15eaba46e08036dc90a:62b1f7d6790ac468:0:1
      X-Correlation-Id:
      - f316d6fb9ec6a15eaba46e08036dc90a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5658'
      ratelimit-reset:
      - '1767024731'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550216
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550216,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:59:17Z\",\n        \"finished\":
        \"2025-12-29T15:59:20Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 814e5fd73f57514a44641b005b1f6a55:b066d7a3f68af2fe:0:1
      X-Correlation-Id:
      - 814e5fd73f57514a44641b005b1f6a55
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5656'
      ratelimit-reset:
      - '1767024732'
    status:
      code: 200
      message: OK
version: 1
