interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b13b272fc506a8464aaa19257f28edee:1d68f4ac8110ceaa:0:1
      X-Correlation-Id:
      - b13b272fc506a8464aaa19257f28edee
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3581'
      ratelimit-reset:
      - '1767023955'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 41c0880ab918a5b9ebb1be7abfe1c04b:1fe3647d81d44764:0:1
      X-Correlation-Id:
      - 41c0880ab918a5b9ebb1be7abfe1c04b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5873'
      ratelimit-reset:
      - '1767024599'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 236efa41fb76605ba4ea068ce1fc67f2:db72bc0852cfed98:0:1
      X-Correlation-Id:
      - 236efa41fb76605ba4ea068ce1fc67f2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5872'
      ratelimit-reset:
      - '1767024600'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cdd2851e51aa3a14a29ebcf6d908e142:f3b9f3b7bd1be766:0:1
      X-Correlation-Id:
      - cdd2851e51aa3a14a29ebcf6d908e142
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5871'
      ratelimit-reset:
      - '1767024601'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d8ee1a4292e75ea48e65f2493de49f64:0dd06d83195596b3:0:1
      X-Correlation-Id:
      - d8ee1a4292e75ea48e65f2493de49f64
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5868'
      ratelimit-reset:
      - '1767024602'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b914e28dc4796b7c6b366a8cf74bc07f:ab4eeb63550d9e15:0:1
      X-Correlation-Id:
      - b914e28dc4796b7c6b366a8cf74bc07f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5864'
      ratelimit-reset:
      - '1767024605'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dd3a33b4130909546594c90908048615:fb2cf24634f941e3:0:1
      X-Correlation-Id:
      - dd3a33b4130909546594c90908048615
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5863'
      ratelimit-reset:
      - '1767024605'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dae8fcc049f2b56d129f0d2e863f806f:08123c6c0c810ab3:0:1
      X-Correlation-Id:
      - dae8fcc049f2b56d129f0d2e863f806f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5858'
      ratelimit-reset:
      - '1767024608'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550155
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550155,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ae856cac808160f4c58a8dfc586ec1e1:14796b7b0e4a6459:0:1
      X-Correlation-Id:
      - ae856cac808160f4c58a8dfc586ec1e1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5851'
      ratelimit-reset:
      - '1767024612'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d7ab2a35a13823ecfce395bfd3450e99:93af6b9d058dce21:0:1
      X-Correlation-Id:
      - d7ab2a35a13823ecfce395bfd3450e99
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5844'
      ratelimit-reset:
      - '1767024617'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1e34e5fb07b8c87c57d355969b09040:15ffa1f4cea6d034:0:1
      X-Correlation-Id:
      - f1e34e5fb07b8c87c57d355969b09040
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5842'
      ratelimit-reset:
      - '1767024618'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fa2d83aee869b15aada082b2042e76bc:856816427dd3253b:0:1
      X-Correlation-Id:
      - fa2d83aee869b15aada082b2042e76bc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5841'
      ratelimit-reset:
      - '1767024618'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dd49b263a8f1eef458d18a039f61adad:e530c449420284b9:0:1
      X-Correlation-Id:
      - dd49b263a8f1eef458d18a039f61adad
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5839'
      ratelimit-reset:
      - '1767024620'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b226d81ec49326b5eb9122216d3ef748:3f33236642f0de0b:0:1
      X-Correlation-Id:
      - b226d81ec49326b5eb9122216d3ef748
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5833'
      ratelimit-reset:
      - '1767024623'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c1fcfbfde7b5ce0889cf37feb3537591:6ae0e952320f4695:0:1
      X-Correlation-Id:
      - c1fcfbfde7b5ce0889cf37feb3537591
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5829'
      ratelimit-reset:
      - '1767024625'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dcc4f25a8e04b65c96c7775c84a40a5b:d2a6caf2b9268e43:0:1
      X-Correlation-Id:
      - dcc4f25a8e04b65c96c7775c84a40a5b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5828'
      ratelimit-reset:
      - '1767024626'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e0385ae1806f68e46a2409c998106ea3:26629e7c557c32a3:0:1
      X-Correlation-Id:
      - e0385ae1806f68e46a2409c998106ea3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5825'
      ratelimit-reset:
      - '1767024628'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d307dd48fc363986097e7139b2503723:ab1f41ca82cbc690:0:1
      X-Correlation-Id:
      - d307dd48fc363986097e7139b2503723
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5823'
      ratelimit-reset:
      - '1767024629'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eff83afec70ab353849c52f9aad6f707:0b15701be003cfda:0:1
      X-Correlation-Id:
      - eff83afec70ab353849c52f9aad6f707
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5821'
      ratelimit-reset:
      - '1767024630'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b3eb014b81d84e30f77340e6924ecd57:27f5b16502918d1a:0:1
      X-Correlation-Id:
      - b3eb014b81d84e30f77340e6924ecd57
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5819'
      ratelimit-reset:
      - '1767024631'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c9e604299496b8d23223929bab2e99f8:7b57c25e7a57d7d8:0:1
      X-Correlation-Id:
      - c9e604299496b8d23223929bab2e99f8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5815'
      ratelimit-reset:
      - '1767024634'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ecdef0919aaccc1360c8673f151ad9b2:5bf1c1d5f0286f5e:0:1
      X-Correlation-Id:
      - ecdef0919aaccc1360c8673f151ad9b2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5811'
      ratelimit-reset:
      - '1767024636'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550161
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550161,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:58Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb40a42ffc71fbe7e12051becf2de98c:50564849d75d6f52:0:1
      X-Correlation-Id:
      - eb40a42ffc71fbe7e12051becf2de98c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5810'
      ratelimit-reset:
      - '1767024637'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550181,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:59:02Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 10a1faf1ca354d75c5d61391866d6d0a:581a056ea9286749:0:1
      X-Correlation-Id:
      - 10a1faf1ca354d75c5d61391866d6d0a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3583'
      ratelimit-reset:
      - '1767023959'
    status:
      code: 201
      message: Created
[...]
