interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d07c0111ed963b252f1b7a8ec0c74c84:ae023ea2cb0da1f2:0:1
      X-Correlation-Id:
      - d07c0111ed963b252f1b7a8ec0c74c84
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3580'
      ratelimit-reset:
      - '1767023931'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fa7c6f34de3b5ce1768af9c3248394ce:887406f4c129aeda:0:1
      X-Correlation-Id:
      - fa7c6f34de3b5ce1768af9c3248394ce
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6117'
      ratelimit-reset:
      - '1767024453'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 6cdfba71040d51f5f4fef75a0feee0e2:9c8ab812387e32f0:0:1
      X-Correlation-Id:
      - 6cdfba71040d51f5f4fef75a0feee0e2
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6116'
      ratelimit-reset:
      - '1767024454'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bec6f1431aa0b8fcfcf78d2636133dd0:dc6e720a1af1059a:0:1
      X-Correlation-Id:
      - bec6f1431aa0b8fcfcf78d2636133dd0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6112'
      ratelimit-reset:
      - '1767024456'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c68bae2e75739b5ed418b61df59b648d:fa6648d53604f0aa:0:1
      X-Correlation-Id:
      - c68bae2e75739b5ed418b61df59b648d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6107'
      ratelimit-reset:
      - '1767024459'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ae65b13a0ed4b8e896323380b24f8fb4:20dd2d19b3ee2589:0:1
      X-Correlation-Id:
      - ae65b13a0ed4b8e896323380b24f8fb4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6102'
      ratelimit-reset:
      - '1767024462'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e37b54dbdb90d150364fb7785b631af3:33bd44496b1f681d:0:1
      X-Correlation-Id:
      - e37b54dbdb90d150364fb7785b631af3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6100'
      ratelimit-reset:
      - '1767024463'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b08c639d8bb83b1eba0df24b63a306a5:cc565b02f322b71a:0:1
      X-Correlation-Id:
      - b08c639d8bb83b1eba0df24b63a306a5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6097'
      ratelimit-reset:
      - '1767024465'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550083
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550083,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:58:32Z\",\n        \"finished\":
        \"2025-12-29T15:58:34Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cf1025f9a09ceeaca68af3e8fa395a29:d0d41f6798c153bb:0:1
      X-Correlation-Id:
      - cf1025f9a09ceeaca68af3e8fa395a29
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6096'
      ratelimit-reset:
      - '1767024466'
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfilt/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3721e2c7fac1b6ac549de8a920d393cc:ba5c212a40337444:0:1
      X-Correlation-Id:
      - 3721e2c7fac1b6ac549de8a920d393cc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6095'
      ratelimit-reset:
      - '1767024466'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ea2b6be57ee7ca2d7c984476bd40f66f:be41f70f92ebf058:0:1
      X-Correlation-Id:
      - ea2b6be57ee7ca2d7c984476bd40f66f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6093'
      ratelimit-reset:
      - '1767024468'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ec53a59b981584bb938b61b9c549fadd:7bcc4ee83092175d:0:1
      X-Correlation-Id:
      - ec53a59b981584bb938b61b9c549fadd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6091'
      ratelimit-reset:
      - '1767024469'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d2c9a8d002d50ad930ca959be2c90968:0ec54c169b94fb0d:0:1
      X-Correlation-Id:
      - d2c9a8d002d50ad930ca959be2c90968
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6090'
      ratelimit-reset:
      - '1767024469'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df1b60c379ed0786c0e634e60e7ed875:5c6ff90a6aaf706b:0:1
      X-Correlation-Id:
      - df1b60c379ed0786c0e634e60e7ed875
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6089'
      ratelimit-reset:
      - '1767024470'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e057f5ff94bba136f86c1ad5c6af1e7a:da9d5b2529dd9352:0:1
      X-Correlation-Id:
      - e057f5ff94bba136f86c1ad5c6af1e7a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6085'
      ratelimit-reset:
      - '1767024472'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f8d5d16f8acf33117bb01d4aceab8419:a76ef8b10830918e:0:1
      X-Correlation-Id:
      - f8d5d16f8acf33117bb01d4aceab8419
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6081'
      ratelimit-reset:
      - '1767024475'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c9ce099da621e8407811b2356bb14ab6:571214fd09ab7fd4:0:1
      X-Correlation-Id:
      - c9ce099da621e8407811b2356bb14ab6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6079'
      ratelimit-reset:
      - '1767024476'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b711d6ca1369e361b81638c2dc7707f6:5564a87a04f8c0d8:0:1
      X-Correlation-Id:
      - b711d6ca1369e361b81638c2dc7707f6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6075'
      ratelimit-reset:
      - '1767024478'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550088
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550088,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:58:34Z\",\n        \"finished\":
        \"2025-12-29T15:58:36Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - da6126f90ea770861da908151c860b2f:81ced254c21e4123:0:1
      X-Correlation-Id:
      - da6126f90ea770861da908151c860b2f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6072'
      ratelimit-reset:
      - '1767024480'
    status:
      code: 200
      message: OK
[...]
