interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f497fe95d86ac24ed39ad78f51e363e7:93db8c2c42c078bc:0:1
      X-Correlation-Id:
      - f497fe95d86ac24ed39ad78f51e363e7
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3567'
      ratelimit-reset:
      - '1767033720'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 32e7be338ef2130b983a99d5fd8c70ea:b7731069a1aba514:0:1
      X-Correlation-Id:
      - 32e7be338ef2130b983a99d5fd8c70ea
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6305'
      ratelimit-reset:
      - '1767034135'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4aaecfe54e4b799d57b74abe53b3b11e:daa2ce1ff1e407c4:0:1
      X-Correlation-Id:
      - 4aaecfe54e4b799d57b74abe53b3b11e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6304'
      ratelimit-reset:
      - '1767034136'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ddbae820900b59d2a3829106ec7da7d8:64cd51b6ed330e4b:0:1
      X-Correlation-Id:
      - ddbae820900b59d2a3829106ec7da7d8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6302'
      ratelimit-reset:
      - '1767034137'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e1d1794495381f0aedacf7abb4af9c74:ceb99c5db8842706:0:1
      X-Correlation-Id:
      - e1d1794495381f0aedacf7abb4af9c74
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6297'
      ratelimit-reset:
      - '1767034140'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - da875e306fa4bb40e51e4b1146c6effb:c2371f12f36de5c2:0:1
      X-Correlation-Id:
      - da875e306fa4bb40e51e4b1146c6effb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6295'
      ratelimit-reset:
      - '1767034141'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aec5246870b8e1019f45c7fa2a0027b7:e4dffb5bcf23c28a:0:1
      X-Correlation-Id:
      - aec5246870b8e1019f45c7fa2a0027b7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6293'
      ratelimit-reset:
      - '1767034142'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cf180d8d50c157d88eb5a3b7394c4f94:bb61011ac834a530:0:1
      X-Correlation-Id:
      - cf180d8d50c157d88eb5a3b7394c4f94
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6291'
      ratelimit-reset:
      - '1767034143'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f9a7915d5618ce239a484350308830bf:3e74e8ddcaf10d9b:0:1
      X-Correlation-Id:
      - f9a7915d5618ce239a484350308830bf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6290'
      ratelimit-reset:
      - '1767034144'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c604c18b49b1c77b8968970081648d37:dbc0daaec51191e2:0:1
      X-Correlation-Id:
      - c604c18b49b1c77b8968970081648d37
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6289'
      ratelimit-reset:
      - '1767034144'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c095365cd39bf60075eeba096f14c6e7:69a6c3309a480d8e:0:1
      X-Correlation-Id:
      - c095365cd39bf60075eeba096f14c6e7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6287'
      ratelimit-reset:
      - '1767034146'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392587
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392587,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:41:28Z\",\n        \"finished\":
        \"2025-12-29T18:41:29Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a09665cabd39bceaf08ae97d1b2f0513:7e6bc7d9d00d9a68:0:1
      X-Correlation-Id:
      - a09665cabd39bceaf08ae97d1b2f0513
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6285'
      ratelimit-reset:
      - '1767034147'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 5f8ed6d8831bda3fa7bda54755f31669:82c16afbe878fef6:0:1
      X-Correlation-Id:
      - 5f8ed6d8831bda3fa7bda54755f31669
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6284'
      ratelimit-reset:
      - '1767034148'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b289b7c4255ad95b840161537319f957:410e3c4aa41a1803:0:1
      X-Correlation-Id:
      - b289b7c4255ad95b840161537319f957
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6281'
      ratelimit-reset:
      - '1767034150'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a5cc18d24ac4f51b262a5996b80e7149:ca14e595c411c19d:0:1
      X-Correlation-Id:
      - a5cc18d24ac4f51b262a5996b80e7149
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6279'
      ratelimit-reset:
      - '1767034151'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - add503d865a55e44b2c1a8d65e3297b4:50cf730208b2f139:0:1
      X-Correlation-Id:
      - add503d865a55e44b2c1a8d65e3297b4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6272'
      ratelimit-reset:
      - '1767034155'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e02d4365dc65e7a2d08862b63f158a46:07d5f25df229e24e:0:1
      X-Correlation-Id:
      - e02d4365dc65e7a2d08862b63f158a46
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6270'
      ratelimit-reset:
      - '1767034156'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bc2399ee7ea610caa6c42e13990d41d6:aa9e9a6b329cbc47:0:1
      X-Correlation-Id:
      - bc2399ee7ea610caa6c42e13990d41d6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6269'
      ratelimit-reset:
      - '1767034157'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392597
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392597,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:41:30Z\",\n        \"finished\":
        \"2025-12-29T18:41:31Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e38e7f1e2d56d7fb897fabf55ca4cc08:fad3ba4cdac31298:0:1
      X-Correlation-Id:
      - e38e7f1e2d56d7fb897fabf55ca4cc08
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6268'
      ratelimit-reset:
      - '1767034157'
    status:
      code: 200
      message: OK
version: 1
