interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a9c2f30f6be3f7899613110f072f35ee:b8d65cf8432e57e1:0:1
      X-Correlation-Id:
      - a9c2f30f6be3f7899613110f072f35ee
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3581'
      ratelimit-reset:
      - '1767033674'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken1\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/_acme-challenge.deleterecordset/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9997de5383812ae4f0c3ade1458772e:5e3194e5b01e4518:0:1
      X-Correlation-Id:
      - e9997de5383812ae4f0c3ade1458772e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6605'
      ratelimit-reset:
      - '1767033953'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b6dbdeeb78bffca69b1d54e520d6853d:4423d36b1382153d:0:1
      X-Correlation-Id:
      - b6dbdeeb78bffca69b1d54e520d6853d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6604'
      ratelimit-reset:
      - '1767033954'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c193bdcd74146fa4729ebf30217c3645:17ba05cf36177f97:0:1
      X-Correlation-Id:
      - c193bdcd74146fa4729ebf30217c3645
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6603'
      ratelimit-reset:
      - '1767033954'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dbec8721c90f74730e474bf6a159b59b:6a4cdfd5e343f9a3:0:1
      X-Correlation-Id:
      - dbec8721c90f74730e474bf6a159b59b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6601'
      ratelimit-reset:
      - '1767033956'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - aacb8b25fdbf23debe61dfe89ebe3dea:a43f4dbe51987028:0:1
      X-Correlation-Id:
      - aacb8b25fdbf23debe61dfe89ebe3dea
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6597'
      ratelimit-reset:
      - '1767033958'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5b20b8df3dc9f24dad0a200e66120ba:1096e002f279c5a2:0:1
      X-Correlation-Id:
      - c5b20b8df3dc9f24dad0a200e66120ba
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6594'
      ratelimit-reset:
      - '1767033960'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b39dcbee6ef559962e2a77bf444e3faf:b3f6ed038dc60f21:0:1
      X-Correlation-Id:
      - b39dcbee6ef559962e2a77bf444e3faf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6591'
      ratelimit-reset:
      - '1767033961'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e76d6dd7aa242b1d4b82bddcbf41e86f:5ae0a57e36d7dc1b:0:1
      X-Correlation-Id:
      - e76d6dd7aa242b1d4b82bddcbf41e86f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6589'
      ratelimit-reset:
      - '1767033963'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b6cfa426f2d500ec7a44fca59f1e46e6:ed3220a45e2780bb:0:1
      X-Correlation-Id:
      - b6cfa426f2d500ec7a44fca59f1e46e6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6588'
      ratelimit-reset:
      - '1767033963'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c86cf41ff1809bb729cd94c70a9ced66:a23596101a6917a6:0:1
      X-Correlation-Id:
      - c86cf41ff1809bb729cd94c70a9ced66
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6583'
      ratelimit-reset:
      - '1767033966'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - da83f9288047e15ec4132e050d9283cb:56cb4f6602698451:0:1
      X-Correlation-Id:
      - da83f9288047e15ec4132e050d9283cb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6582'
      ratelimit-reset:
      - '1767033967'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - af07485cc1ab004287eafaf2dc530e7d:db2479e6c1e01135:0:1
      X-Correlation-Id:
      - af07485cc1ab004287eafaf2dc530e7d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6577'
      ratelimit-reset:
      - '1767033970'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a5083bb385cef3d48004b870e1772e4f:5e4686c65aa3f12d:0:1
      X-Correlation-Id:
      - a5083bb385cef3d48004b870e1772e4f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6576'
      ratelimit-reset:
      - '1767033970'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c8d076d1ad7813eb14d308bccb99acd0:fa9e8b5950f9f1e2:0:1
      X-Correlation-Id:
      - c8d076d1ad7813eb14d308bccb99acd0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6575'
      ratelimit-reset:
      - '1767033971'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392454
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392454,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:40:56Z\",\n        \"finished\":
        \"2025-12-29T18:40:59Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f623b2d83977fa2eb879f3390b669a46:7863477eb9a444bc:0:1
      X-Correlation-Id:
      - f623b2d83977fa2eb879f3390b669a46
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6572'
      ratelimit-reset:
      - '1767033973'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e35328b646e67da368f7acd102a94d69:c8e4fc3497226f14:0:1
      X-Correlation-Id:
      - e35328b646e67da368f7acd102a94d69
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6569'
      ratelimit-reset:
      - '1767033975'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d410fe8013c80f3e6935be4cefd1a6fa:491048110c2a1d69:0:1
      X-Correlation-Id:
      - d410fe8013c80f3e6935be4cefd1a6fa
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6567'
      ratelimit-reset:
      - '1767033976'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5b41a43a05848eef1fd3bfdee1ac40e:b19683af99105281:0:1
      X-Correlation-Id:
      - c5b41a43a05848eef1fd3bfdee1ac40e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6566'
      ratelimit-reset:
      - '1767033976'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e16562811a2c09f9fe7483e7ca8421d7:ee716e87b6ad6cf7:0:1
      X-Correlation-Id:
      - e16562811a2c09f9fe7483e7ca8421d7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6564'
      ratelimit-reset:
      - '1767033977'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a18ef30af02d7d86bf84e54804a67577:290572bfea961c8e:0:1
      X-Correlation-Id:
      - a18ef30af02d7d86bf84e54804a67577
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6563'
      ratelimit-reset:
      - '1767033978'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d6d7b7e301249fc8fb646a5468bd3512:839559fccf90111d:0:1
      X-Correlation-Id:
      - d6d7b7e301249fc8fb646a5468bd3512
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6562'
      ratelimit-reset:
      - '1767033979'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - be56c83f477d447d624ed226e1fd87f4:d1673503cc02c9e9:0:1
      X-Correlation-Id:
      - be56c83f477d447d624ed226e1fd87f4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6561'
      ratelimit-reset:
      - '1767033979'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fdd462d27355fff33c6426f0a404bd3e:cdb55a8d69e6a815:0:1
      X-Correlation-Id:
      - fdd462d27355fff33c6426f0a404bd3e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6559'
      ratelimit-reset:
      - '1767033980'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f5a8ac2e4800eee9d814aeb987847ba6:a91ea0a6e2a2d0d0:0:1
      X-Correlation-Id:
      - f5a8ac2e4800eee9d814aeb987847ba6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6557'
      ratelimit-reset:
      - '1767033982'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d1f3c9f50019fefdb15f1312364f84de:abb960aab2a06c9d:0:1
      X-Correlation-Id:
      - d1f3c9f50019fefdb15f1312364f84de
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6554'
      ratelimit-reset:
      - '1767033983'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392461
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392461,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:59Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e7451288040f70bcb94a09abc628dab7:a7d4e4254fac7d7e:0:1
      X-Correlation-Id:
      - e7451288040f70bcb94a09abc628dab7
      ratelimit-limit:
      - '7200'
[...]
