interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eda0cc8c6f9271f75fd2d2096a9a9f9e:da710c6a73aa517a:0:1
      X-Correlation-Id:
      - eda0cc8c6f9271f75fd2d2096a9a9f9e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3560'
      ratelimit-reset:
      - '1767033709'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.nameonly.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 18f2d07f45e098f04c0ba2806811da19:d7eff69cefad1e45:0:1
      X-Correlation-Id:
      - 18f2d07f45e098f04c0ba2806811da19
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6491'
      ratelimit-reset:
      - '1767034024'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 8e71408804860d6471ae7c72de85e643:12effca067080fcc:0:1
      X-Correlation-Id:
      - 8e71408804860d6471ae7c72de85e643
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6490'
      ratelimit-reset:
      - '1767034025'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df30d923b9d75264e445bee1e17f6564:f2be7067a9e90050:0:1
      X-Correlation-Id:
      - df30d923b9d75264e445bee1e17f6564
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6488'
      ratelimit-reset:
      - '1767034026'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db7ba52b7ae8d3970dfd9b69ca857c63:29fad8f8e88b159f:0:1
      X-Correlation-Id:
      - db7ba52b7ae8d3970dfd9b69ca857c63
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6484'
      ratelimit-reset:
      - '1767034028'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a84869271a056c2302679104859b4c6a:b3bae1ac96054d7e:0:1
      X-Correlation-Id:
      - a84869271a056c2302679104859b4c6a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6479'
      ratelimit-reset:
      - '1767034031'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d2169cf2811939a2e33359aed6d3f784:20261cdcfb9f3ec7:0:1
      X-Correlation-Id:
      - d2169cf2811939a2e33359aed6d3f784
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6478'
      ratelimit-reset:
      - '1767034032'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ceda0c1e39b9c27855454115613efa67:5e1ee1f5a32d71b8:0:1
      X-Correlation-Id:
      - ceda0c1e39b9c27855454115613efa67
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6477'
      ratelimit-reset:
      - '1767034032'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eff1d02f1c898465be100a64fc56a7a5:a7c99ab93c5499bb:0:1
      X-Correlation-Id:
      - eff1d02f1c898465be100a64fc56a7a5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6476'
      ratelimit-reset:
      - '1767034033'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c1fea59ad11afb3c3e0993587e13d174:fea22e47920ba9ea:0:1
      X-Correlation-Id:
      - c1fea59ad11afb3c3e0993587e13d174
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6473'
      ratelimit-reset:
      - '1767034035'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ff5cf8c02fd9f977ada8b51581c598e3:75a32c4a7a49daa7:0:1
      X-Correlation-Id:
      - ff5cf8c02fd9f977ada8b51581c598e3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6470'
      ratelimit-reset:
      - '1767034036'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f727f2eda514309b4938bb9e90b9e43f:7563e7f3d7e038f2:0:1
      X-Correlation-Id:
      - f727f2eda514309b4938bb9e90b9e43f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6467'
      ratelimit-reset:
      - '1767034038'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b26f5694e9b70e1616ceb59c059e3e73:bcb9034fa2e3a9b5:0:1
      X-Correlation-Id:
      - b26f5694e9b70e1616ceb59c059e3e73
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6466'
      ratelimit-reset:
      - '1767034039'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dc95342c9cc483bc77784c7ac44520ae:8c223d09c543a14f:0:1
      X-Correlation-Id:
      - dc95342c9cc483bc77784c7ac44520ae
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6460'
      ratelimit-reset:
      - '1767034042'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b31881c875d4a098d7afbf4317b76877:71b8e77ed06520a7:0:1
      X-Correlation-Id:
      - b31881c875d4a098d7afbf4317b76877
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6458'
      ratelimit-reset:
      - '1767034044'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b03c2390ef1e42307a54eb0f8da46e4d:c315219b9866f3d2:0:1
      X-Correlation-Id:
      - b03c2390ef1e42307a54eb0f8da46e4d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6454'
      ratelimit-reset:
      - '1767034046'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f68f9980c7221f23c18f6c792f7415f1:d09af8fc7488723f:0:1
      X-Correlation-Id:
      - f68f9980c7221f23c18f6c792f7415f1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6453'
      ratelimit-reset:
      - '1767034046'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a3f3fe54df604f41d96e1a55a16cee55:bffbe64b7eb6183a:0:1
      X-Correlation-Id:
      - a3f3fe54df604f41d96e1a55a16cee55
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6451'
      ratelimit-reset:
      - '1767034048'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fcccf5828a3801d7e65439eabb7dd0d6:b27ca538a7e1b496:0:1
      X-Correlation-Id:
      - fcccf5828a3801d7e65439eabb7dd0d6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6448'
      ratelimit-reset:
      - '1767034049'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca24f53d5ee9dce2a4947ec3aec6216f:1cfeb5739347d626:0:1
      X-Correlation-Id:
      - ca24f53d5ee9dce2a4947ec3aec6216f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6447'
      ratelimit-reset:
      - '1767034050'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e712f6ce0ed4888dcda56e21ec27522b:feacfe6b6a89994f:0:1
      X-Correlation-Id:
      - e712f6ce0ed4888dcda56e21ec27522b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6446'
      ratelimit-reset:
      - '1767034051'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ad3c88b8a1d39be4606919a052632f08:747671db3ba5b766:0:1
      X-Correlation-Id:
      - ad3c88b8a1d39be4606919a052632f08
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6444'
      ratelimit-reset:
      - '1767034052'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - de7fd7501d95fb47b05fb74b293f2dbc:da980841171d407c:0:1
      X-Correlation-Id:
      - de7fd7501d95fb47b05fb74b293f2dbc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6441'
      ratelimit-reset:
      - '1767034054'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fb4695acf3c11c406d6d759c6012d0f6:b8d4563883537c2d:0:1
      X-Correlation-Id:
      - fb4695acf3c11c406d6d759c6012d0f6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6440'
      ratelimit-reset:
      - '1767034054'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ee411e367c7f1cc25ad8cb1dfb5ddd45:c49d140e478c1d6f:0:1
      X-Correlation-Id:
      - ee411e367c7f1cc25ad8cb1dfb5ddd45
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6438'
      ratelimit-reset:
      - '1767034055'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c410dcc9b7b83368a9992e110fcbb359:09c8f0473be6c2eb:0:1
      X-Correlation-Id:
      - c410dcc9b7b83368a9992e110fcbb359
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6435'
      ratelimit-reset:
      - '1767034057'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392546
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392546,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:10Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d50d58d7fe21e845f8aeb2c15e1f3cf6:aa4c383771a31dd3:0:1
      X-Correlation-Id:
      - d50d58d7fe21e845f8aeb2c15e1f3cf6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6433'
[...]
