interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"updating\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b83b3c9be1af84c404d39f4d59255c8e:da3a4bad088e7533:0:1
      X-Correlation-Id:
      - b83b3c9be1af84c404d39f4d59255c8e
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3562'
      ratelimit-reset:
      - '1767033702'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 0c99514367a0eda9830b03e47661bf17:774bd5d13cadc976:0:1
      X-Correlation-Id:
      - 0c99514367a0eda9830b03e47661bf17
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6540'
      ratelimit-reset:
      - '1767033995'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bcb63204588d25d234c65a0a3fb9bf26:d8ab344da2168b59:0:1
      X-Correlation-Id:
      - bcb63204588d25d234c65a0a3fb9bf26
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6539'
      ratelimit-reset:
      - '1767033995'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f152812f189abc09408370520a7536b6:284ec45dfba105ae:0:1
      X-Correlation-Id:
      - f152812f189abc09408370520a7536b6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6536'
      ratelimit-reset:
      - '1767033997'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a35b2d8ff897cb596ec37caea885413f:b88dff5d7b21c7dd:0:1
      X-Correlation-Id:
      - a35b2d8ff897cb596ec37caea885413f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6535'
      ratelimit-reset:
      - '1767033998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e8492dedea52f4aea286a23d94864229:1aeba85b78eb1cbb:0:1
      X-Correlation-Id:
      - e8492dedea52f4aea286a23d94864229
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6532'
      ratelimit-reset:
      - '1767033999'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e317b22600014dd5fbeab8fe10202bbb:3f380e69f3748dcf:0:1
      X-Correlation-Id:
      - e317b22600014dd5fbeab8fe10202bbb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6531'
      ratelimit-reset:
      - '1767034000'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e067ca333b71d7392b0fc162a59dfb6f:08905d7b217a5825:0:1
      X-Correlation-Id:
      - e067ca333b71d7392b0fc162a59dfb6f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6528'
      ratelimit-reset:
      - '1767034002'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d1016edf57b55d1fe1f3dca66839743c:08fca30a3f81f05c:0:1
      X-Correlation-Id:
      - d1016edf57b55d1fe1f3dca66839743c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6526'
      ratelimit-reset:
      - '1767034003'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b15e40be1b7eebc860611976ec106ff8:4af90e589d80e1ca:0:1
      X-Correlation-Id:
      - b15e40be1b7eebc860611976ec106ff8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6524'
      ratelimit-reset:
      - '1767034004'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9f06e5b09f9763968575c10984f1f55:1bfedc3595f45327:0:1
      X-Correlation-Id:
      - e9f06e5b09f9763968575c10984f1f55
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6523'
      ratelimit-reset:
      - '1767034005'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c4d3b5c91b3559bc51d8fe387dadfcea:06af843642e84c75:0:1
      X-Correlation-Id:
      - c4d3b5c91b3559bc51d8fe387dadfcea
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6522'
      ratelimit-reset:
      - '1767034005'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb20b51e0d2405653de88da170606f7c:45faf732193ac4d0:0:1
      X-Correlation-Id:
      - eb20b51e0d2405653de88da170606f7c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6521'
      ratelimit-reset:
      - '1767034006'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392534
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392534,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:41:05Z\",\n        \"finished\":
        \"2025-12-29T18:41:06Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - abacdf91ab67dc41ae1d55edc972f931:39045ece7b73cd60:0:1
      X-Correlation-Id:
      - abacdf91ab67dc41ae1d55edc972f931
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6519'
      ratelimit-reset:
      - '1767034007'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 3579120f592684afabda7f4ccaf15d50:16e1335b4d89831f:0:1
      X-Correlation-Id:
      - 3579120f592684afabda7f4ccaf15d50
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6518'
      ratelimit-reset:
      - '1767034008'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f69bf1de82b22fde909f3ccb37af0f76:7f78a27435b9dc58:0:1
      X-Correlation-Id:
      - f69bf1de82b22fde909f3ccb37af0f76
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6516'
      ratelimit-reset:
      - '1767034009'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b16dc6ef14f76ea465bc9312f6cf88a7:0755a4a9e4f92329:0:1
      X-Correlation-Id:
      - b16dc6ef14f76ea465bc9312f6cf88a7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6515'
      ratelimit-reset:
      - '1767034010'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ab0eaac5d1e82088de30ffc253638c37:2d2a75927a7c2783:0:1
      X-Correlation-Id:
      - ab0eaac5d1e82088de30ffc253638c37
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6513'
      ratelimit-reset:
      - '1767034011'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e8a03edc0abda3c1d68416e6a9ebccf5:2f8a66665e34a270:0:1
      X-Correlation-Id:
      - e8a03edc0abda3c1d68416e6a9ebccf5
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6506'
      ratelimit-reset:
      - '1767034015'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d17c39887ec61bf28b8534510e18680a:17d311eaa07f1e45:0:1
      X-Correlation-Id:
      - d17c39887ec61bf28b8534510e18680a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6505'
      ratelimit-reset:
      - '1767034016'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d4cccc1df96409ad6770ae4be92a08e3:0f064c5fd89bbe70:0:1
      X-Correlation-Id:
      - d4cccc1df96409ad6770ae4be92a08e3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6503'
      ratelimit-reset:
      - '1767034017'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e09884a7975d8643c92a874ac4a36a24:3b0691819f6f72d4:0:1
      X-Correlation-Id:
      - e09884a7975d8643c92a874ac4a36a24
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6500'
      ratelimit-reset:
      - '1767034019'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dc4e91d82f81855eeb1bf58f2b2d21a6:8a28800e8e23ce33:0:1
      X-Correlation-Id:
      - dc4e91d82f81855eeb1bf58f2b2d21a6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6498'
      ratelimit-reset:
      - '1767034020'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f06ee6c29b6ef4db8f603ff71fd37f50:bf3e2127620271c5:0:1
      X-Correlation-Id:
      - f06ee6c29b6ef4db8f603ff71fd37f50
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6497'
      ratelimit-reset:
      - '1767034020'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e89dc2b643a9abfcb29c16db79f0abf3:1af9f00ec9a7ea51:0:1
      X-Correlation-Id:
      - e89dc2b643a9abfcb29c16db79f0abf3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6495'
      ratelimit-reset:
      - '1767034022'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392539
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392539,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:41:07Z\",\n        \"finished\":
        \"2025-12-29T18:41:09Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - edb9740fe977046bd29e69bf9451dcc3:22cdb117240b1448:0:1
      X-Correlation-Id:
      - edb9740fe977046bd29e69bf9451dcc3
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6492'
      ratelimit-reset:
      - '1767034023'
    status:
      code: 200
      message: OK
version: 1
