interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ba45ce7153a90fc9d083a90738b5a744:38b03056204845a1:0:1
      X-Correlation-Id:
      - ba45ce7153a90fc9d083a90738b5a744
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3581'
      ratelimit-reset:
      - '1767023935'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d5beebb16c6b8b1e1b39b54db34a59cc:56def1148790a5ee:0:1
      X-Correlation-Id:
      - d5beebb16c6b8b1e1b39b54db34a59cc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6071'
      ratelimit-reset:
      - '1767024481'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c0781d9a09afce074d6fdfd219ea6a14:ba2c890045176f75:0:1
      X-Correlation-Id:
      - c0781d9a09afce074d6fdfd219ea6a14
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6070'
      ratelimit-reset:
      - '1767024481'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bf4b132aa5716bd56e81ce0d3315ce2a:454029060a0a3b01:0:1
      X-Correlation-Id:
      - bf4b132aa5716bd56e81ce0d3315ce2a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6068'
      ratelimit-reset:
      - '1767024483'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ca811a50d03dbcaad4cda25e7f2fdf6b:a439bc2d57b0e911:0:1
      X-Correlation-Id:
      - ca811a50d03dbcaad4cda25e7f2fdf6b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6067'
      ratelimit-reset:
      - '1767024483'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c2c4f510cfbe88219ebd2942cb7a3428:88071f8e93ea9146:0:1
      X-Correlation-Id:
      - c2c4f510cfbe88219ebd2942cb7a3428
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6063'
      ratelimit-reset:
      - '1767024486'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df4e136b1ec5ba1d4d80fba2e7356d2d:cb766ef92b7a9401:0:1
      X-Correlation-Id:
      - df4e136b1ec5ba1d4d80fba2e7356d2d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6058'
      ratelimit-reset:
      - '1767024489'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e3a73f5b2bda92dac38582e43ba908cc:8ece6cb01494f1f5:0:1
      X-Correlation-Id:
      - e3a73f5b2bda92dac38582e43ba908cc
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6057'
      ratelimit-reset:
      - '1767024489'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550094
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550094,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:36Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bc40385f265b0629b717c7bc1b3e75f0:44d47441bad379eb:0:1
      X-Correlation-Id:
      - bc40385f265b0629b717c7bc1b3e75f0
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6047'
      ratelimit-reset:
      - '1767024495'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4f1299d4d5cb2285021224467611e332:450db19d54030d29:0:1
      X-Correlation-Id:
      - 4f1299d4d5cb2285021224467611e332
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6044'
      ratelimit-reset:
      - '1767024497'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e69bf8dd12705b1653d4f4288f9dc8c6:71432fa24ed85188:0:1
      X-Correlation-Id:
      - e69bf8dd12705b1653d4f4288f9dc8c6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6042'
      ratelimit-reset:
      - '1767024498'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cebbec31c66989bd84f909d1ece02b42:6eb09db47cf11859:0:1
      X-Correlation-Id:
      - cebbec31c66989bd84f909d1ece02b42
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6041'
      ratelimit-reset:
      - '1767024499'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - edb5ea6f42d8b0b832116b66fc463ee7:f82ca627ddeffed9:0:1
      X-Correlation-Id:
      - edb5ea6f42d8b0b832116b66fc463ee7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6040'
      ratelimit-reset:
      - '1767024499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a8490ccfb90e0c54ea6cdb1fd5a6d98a:8f5c8e2ee0ad65a2:0:1
      X-Correlation-Id:
      - a8490ccfb90e0c54ea6cdb1fd5a6d98a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6038'
      ratelimit-reset:
      - '1767024500'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - af09e1786d412fadb02e504027bcc691:8487cbe7beaf18b8:0:1
      X-Correlation-Id:
      - af09e1786d412fadb02e504027bcc691
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6035'
      ratelimit-reset:
      - '1767024502'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550100
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550100,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:39Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e77947d625e70322c8863c9581623520:d520492679f84262:0:1
      X-Correlation-Id:
      - e77947d625e70322c8863c9581623520
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6032'
      ratelimit-reset:
      - '1767024504'
    status:
      code: 200
      message: OK
[...]
