interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e13e278437fdf4e9e14de1585181dac5:098f60d4fcd583ff:0:1
      X-Correlation-Id:
      - e13e278437fdf4e9e14de1585181dac5
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3582'
      ratelimit-reset:
      - '1767023939'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1e3c6bf268655533de7cce47459f9768:b61b084ea1164cd4:0:1
      X-Correlation-Id:
      - 1e3c6bf268655533de7cce47459f9768
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6023'
      ratelimit-reset:
      - '1767024510'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - df6591661558619f0ee7000aaac2330c:4d12c24abd0f8e77:0:1
      X-Correlation-Id:
      - df6591661558619f0ee7000aaac2330c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6022'
      ratelimit-reset:
      - '1767024510'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c5ee7543993bbf5886190f597c2b2257:189382d9460c96d4:0:1
      X-Correlation-Id:
      - c5ee7543993bbf5886190f597c2b2257
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6020'
      ratelimit-reset:
      - '1767024511'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fffb81b728226e1d3767d3286549a791:2d6ed89167079bbc:0:1
      X-Correlation-Id:
      - fffb81b728226e1d3767d3286549a791
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6018'
      ratelimit-reset:
      - '1767024513'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d763265a4823a081d100700840852d8a:b8814934f8fc4ebf:0:1
      X-Correlation-Id:
      - d763265a4823a081d100700840852d8a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6017'
      ratelimit-reset:
      - '1767024513'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f901712891aa80aab149195873964a22:48f2b4350aefc9e8:0:1
      X-Correlation-Id:
      - f901712891aa80aab149195873964a22
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6016'
      ratelimit-reset:
      - '1767024514'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a1aac39f6728646edd5014a4d061547b:247f5c7c90174c11:0:1
      X-Correlation-Id:
      - a1aac39f6728646edd5014a4d061547b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6015'
      ratelimit-reset:
      - '1767024514'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d8e2f3e74cf29a63739b885fe0e66731:d15334a6302c1e4f:0:1
      X-Correlation-Id:
      - d8e2f3e74cf29a63739b885fe0e66731
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6012'
      ratelimit-reset:
      - '1767024516'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - de6b655810408257e87e7ce494514e5c:910a17b92eab9cbd:0:1
      X-Correlation-Id:
      - de6b655810408257e87e7ce494514e5c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6011'
      ratelimit-reset:
      - '1767024517'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - dadefed2462cbbf4eda1d3bf84fe9256:0d00b2b5b8578b0d:0:1
      X-Correlation-Id:
      - dadefed2462cbbf4eda1d3bf84fe9256
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6010'
      ratelimit-reset:
      - '1767024517'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c2fe16dabf8e81d8d0560972bdc4187b:35f84480fe17eb0d:0:1
      X-Correlation-Id:
      - c2fe16dabf8e81d8d0560972bdc4187b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6007'
      ratelimit-reset:
      - '1767024519'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b9084dc4e1b841340616b0e3a3957ef7:62a1536f0e98114c:0:1
      X-Correlation-Id:
      - b9084dc4e1b841340616b0e3a3957ef7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6006'
      ratelimit-reset:
      - '1767024520'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fcddd2c092041819059d5cc0f6486e05:e16fadd215751e9e:0:1
      X-Correlation-Id:
      - fcddd2c092041819059d5cc0f6486e05
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6004'
      ratelimit-reset:
      - '1767024521'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a2829a05db6bf4746b1fe34409bf7306:f9b04eb38f167559:0:1
      X-Correlation-Id:
      - a2829a05db6bf4746b1fe34409bf7306
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6001'
      ratelimit-reset:
      - '1767024523'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550110
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550110,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b0f27dfb53bb6d492c1b427cb421bc7e:9e7acf893cb4ae5c:0:1
      X-Correlation-Id:
      - b0f27dfb53bb6d492c1b427cb421bc7e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5998'
      ratelimit-reset:
      - '1767024524'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfull/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b5e9b33bfa0fd5e13df5c2de5a2c77bd:6e0250f98a0203a3:0:1
      X-Correlation-Id:
      - b5e9b33bfa0fd5e13df5c2de5a2c77bd
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5994'
      ratelimit-reset:
      - '1767024527'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e9c3ad493e31728259ad74f4c701856f:1179e0572156a1b3:0:1
      X-Correlation-Id:
      - e9c3ad493e31728259ad74f4c701856f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5993'
      ratelimit-reset:
      - '1767024527'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c439c53315e8c07c1cdfc621812cfc4e:0c352510936702ef:0:1
      X-Correlation-Id:
      - c439c53315e8c07c1cdfc621812cfc4e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5991'
      ratelimit-reset:
      - '1767024529'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c34e8d63cd2c23d099c1f7887a645a6c:d91f554ca779f39b:0:1
      X-Correlation-Id:
      - c34e8d63cd2c23d099c1f7887a645a6c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5988'
      ratelimit-reset:
      - '1767024530'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cdb6cffe646cfcd8b684fccc1ecc2cda:587e4b34989f586d:0:1
      X-Correlation-Id:
      - cdb6cffe646cfcd8b684fccc1ecc2cda
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5983'
      ratelimit-reset:
      - '1767024533'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a7e01bdd6154e3d2f4ca77c8c6d8d4ef:6f758d58f907f6ef:0:1
      X-Correlation-Id:
      - a7e01bdd6154e3d2f4ca77c8c6d8d4ef
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5979'
      ratelimit-reset:
      - '1767024536'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601905315550117
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601905315550117,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T15:58:44Z\",\n        \"finished\":
        \"2025-12-29T15:58:45Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f020ae12908f5edc288c189d086e8cc8:9566dcc954088512:0:1
      X-Correlation-Id:
      - f020ae12908f5edc288c189d086e8cc8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '5975'
      ratelimit-reset:
      - '1767024538'
    status:
      code: 200
      message: OK
[...]
