interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 28,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d972c8a473b891c8637b840e557fbade:d030e4c5df9f50cf:0:1
      X-Correlation-Id:
      - d972c8a473b891c8637b840e557fbade
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3587'
      ratelimit-reset:
      - '1767033663'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testid/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f1db147658e65d78f3b9148e45c8edde:c5aa5fefb05998bc:0:1
      X-Correlation-Id:
      - f1db147658e65d78f3b9148e45c8edde
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6655'
      ratelimit-reset:
      - '1767033923'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 1aeb2e25111ebbbea6964894714f9771:3923492583b27f31:0:1
      X-Correlation-Id:
      - 1aeb2e25111ebbbea6964894714f9771
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6654'
      ratelimit-reset:
      - '1767033923'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b32b159c80f43cb7a3daae5d3cbb9e40:279eebfb1a13b016:0:1
      X-Correlation-Id:
      - b32b159c80f43cb7a3daae5d3cbb9e40
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6653'
      ratelimit-reset:
      - '1767033924'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - cfb5260c3c9bc5090c7b894880c4855a:b3850063c0f497da:0:1
      X-Correlation-Id:
      - cfb5260c3c9bc5090c7b894880c4855a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6649'
      ratelimit-reset:
      - '1767033926'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - acf714da70035ed8b68228fd305a32ea:bf1772126ff6a93b:0:1
      X-Correlation-Id:
      - acf714da70035ed8b68228fd305a32ea
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6642'
      ratelimit-reset:
      - '1767033930'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ffdafc46134a9cb2dcba888682925d98:28ebae0ddfc04dd2:0:1
      X-Correlation-Id:
      - ffdafc46134a9cb2dcba888682925d98
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6641'
      ratelimit-reset:
      - '1767033931'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c327920914f0c6e19c35ae2d8579cdd7:89f8064cde832ae5:0:1
      X-Correlation-Id:
      - c327920914f0c6e19c35ae2d8579cdd7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6638'
      ratelimit-reset:
      - '1767033933'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb28f9df2f8c1cb016e7cca6dedfb6f6:c05292cc3852c116:0:1
      X-Correlation-Id:
      - eb28f9df2f8c1cb016e7cca6dedfb6f6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6637'
      ratelimit-reset:
      - '1767033933'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b999b044e94e32fdc367257f8d18e9ac:068ad1877a8bef17:0:1
      X-Correlation-Id:
      - b999b044e94e32fdc367257f8d18e9ac
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6632'
      ratelimit-reset:
      - '1767033936'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db1511e1017d84440291986ea221eed8:b48f4c8fbe6a3f79:0:1
      X-Correlation-Id:
      - db1511e1017d84440291986ea221eed8
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6631'
      ratelimit-reset:
      - '1767033937'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392436
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392436,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:40:50Z\",\n        \"finished\":
        \"2025-12-29T18:40:52Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bf4ddecd769111b091a816bba607103c:b8299caa29f64e3a:0:1
      X-Correlation-Id:
      - bf4ddecd769111b091a816bba607103c
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6630'
      ratelimit-reset:
      - '1767033937'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testid/TXT
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392443,\n        \"status\":
        \"running\",\n        \"command\": \"delete_rrset\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:40:53Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 11278dc62c93d06090f8a1a8c9573816:45a507e2321c7437:0:1
      X-Correlation-Id:
      - 11278dc62c93d06090f8a1a8c9573816
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3585'
      ratelimit-reset:
      - '1767033668'
    status:
      code: 201
      message: Created
[...]
