interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 31,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a8cef870884d3002fb22970658a7adab:a4364f399d3bc3d9:0:1
      X-Correlation-Id:
      - a8cef870884d3002fb22970658a7adab
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3593'
      ratelimit-reset:
      - '1767714160'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=_acme-challenge.fqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"_acme-challenge.fqdn/TXT\",\n
        \           \"name\": \"_acme-challenge.fqdn\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 590d05809698d08b177340e6f8c3f0bb:51f1b9cbab2f514a:0:1
      X-Correlation-Id:
      - 590d05809698d08b177340e6f8c3f0bb
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3592'
      ratelimit-reset:
      - '1767714161'
    status:
      code: 200
      message: OK
version: 1
