interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 31,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - afb23a2bdd331a79f1853e270ddbd5a9:2194a4cb20c2e676:0:1
      X-Correlation-Id:
      - afb23a2bdd331a79f1853e270ddbd5a9
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3582'
      ratelimit-reset:
      - '1767714179'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 0bec7341e8bf7a921a1c84d84c8a4938:29128b31ae0e8279:0:1
      X-Correlation-Id:
      - 0bec7341e8bf7a921a1c84d84c8a4938
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3581'
      ratelimit-reset:
      - '1767714180'
    status:
      code: 200
      message: OK
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835770,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 4c8ac4fb2b6801d56eeaf103c6a40077:84e7cc01ee2b6dbb:0:1
      X-Correlation-Id:
      - 4c8ac4fb2b6801d56eeaf103c6a40077
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1767714162'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835770
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835770,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:41Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a4764cb64142b2ee15a7dcd8585d9535:7ba2795db51e3cbe:0:1
      X-Correlation-Id:
      - a4764cb64142b2ee15a7dcd8585d9535
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7197'
      ratelimit-reset:
      - '1767714163'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/delete.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835784,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:42:43Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 923fa370ebc8ded090539813c9cafe9e:066e0285894d2258:0:1
      X-Correlation-Id:
      - 923fa370ebc8ded090539813c9cafe9e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1767714165'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835784
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835784,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:42:43Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a524fc2a1fc9545ba1b2d0f19503e511:6aed23f705c1957f:0:1
      X-Correlation-Id:
      - a524fc2a1fc9545ba1b2d0f19503e511
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1767714167'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835784
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835784,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:42:43Z\",\n        \"finished\":
        \"2026-01-06T15:42:45Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ea351f7dbaa9dfe541badc883c1b168a:9eed007c5eef854f:0:1
      X-Correlation-Id:
      - ea351f7dbaa9dfe541badc883c1b168a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7196'
      ratelimit-reset:
      - '1767714167'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=delete.testfqdn
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        0\n        }\n    },\n    \"rrsets\": []\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - ca21962a2036e3c83eed19ca7873a0a0:2d34ddbbfbd75b36:0:1
      X-Correlation-Id:
      - ca21962a2036e3c83eed19ca7873a0a0
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3584'
      ratelimit-reset:
      - '1767714181'
    status:
      code: 200
      message: OK
version: 1
