interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2025-12-25T04:47:05Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 27,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 27bd578cba4b026d050600416f01334a:8ffa50384d10c75b:0:1
      X-Correlation-Id:
      - 27bd578cba4b026d050600416f01334a
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3571'
      ratelimit-reset:
      - '1767033712'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        23\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"localhost/A\",\n
        \           \"name\": \"localhost\",\n            \"type\": \"A\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"127.0.0.1\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        },\n        {\n            \"id\":
        \"nominatim/A\",\n            \"name\": \"nominatim\",\n            \"type\":
        \"A\",\n            \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"128.140.58.208\",\n
        \           [...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b39f076d1e2fed85f08bf1109db692c4:446575e1b410df42:0:1
      X-Correlation-Id:
      - b39f076d1e2fed85f08bf1109db692c4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6342'
      ratelimit-reset:
      - '1767034112'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 8aa34b8d3afc6fd237f2cf9974d5f681:a0ac2f7fb13e9e27:0:1
      X-Correlation-Id:
      - 8aa34b8d3afc6fd237f2cf9974d5f681
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6341'
      ratelimit-reset:
      - '1767034113'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e73bbf78cc48d53c2141e92b5bd6af7f:59870f93e1ebe95f:0:1
      X-Correlation-Id:
      - e73bbf78cc48d53c2141e92b5bd6af7f
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6340'
      ratelimit-reset:
      - '1767034114'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e93408ac5c5fe51b2ab5f818495f2c5b:06e241eb2d5ca35b:0:1
      X-Correlation-Id:
      - e93408ac5c5fe51b2ab5f818495f2c5b
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6339'
      ratelimit-reset:
      - '1767034114'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fc3b4b71833a81f970f0a0aeb46ef798:b46d43005e3cbe1e:0:1
      X-Correlation-Id:
      - fc3b4b71833a81f970f0a0aeb46ef798
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6336'
      ratelimit-reset:
      - '1767034116'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - db52eaa5bd886aee76c3af9ebb211dfb:60a5e3c8aeab3a7c:0:1
      X-Correlation-Id:
      - db52eaa5bd886aee76c3af9ebb211dfb
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6333'
      ratelimit-reset:
      - '1767034118'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a0c4bf93d6d3c50ed604c04b481c34a4:d5763bb50ffe3b06:0:1
      X-Correlation-Id:
      - a0c4bf93d6d3c50ed604c04b481c34a4
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6330'
      ratelimit-reset:
      - '1767034120'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f49aeda6dbc06e490891dc53fc05c075:3bed9c913d6087eb:0:1
      X-Correlation-Id:
      - f49aeda6dbc06e490891dc53fc05c075
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6329'
      ratelimit-reset:
      - '1767034120'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b11358b82a4a02c623aa3520ec1d38c6:3a50ed7d1503c906:0:1
      X-Correlation-Id:
      - b11358b82a4a02c623aa3520ec1d38c6
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6328'
      ratelimit-reset:
      - '1767034121'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392577
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392577,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2025-12-29T18:41:23Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fca4fb9d229077abf0402bfac2daba76:9a466c20415797fc:0:1
      X-Correlation-Id:
      - fca4fb9d229077abf0402bfac2daba76
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6325'
      ratelimit-reset:
      - '1767034123'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.testfqdn/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 18aa2b6c5156cc6a1966fb0ce30f12cf:953fe068db154d0b:0:1
      X-Correlation-Id:
      - 18aa2b6c5156cc6a1966fb0ce30f12cf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6323'
      ratelimit-reset:
      - '1767034124'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392582
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - eb626c194981fbf8ab34a0d2dd688a73:30969045edc68f9f:0:1
      X-Correlation-Id:
      - eb626c194981fbf8ab34a0d2dd688a73
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6322'
      ratelimit-reset:
      - '1767034125'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392582
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ba363d7ac9087f62d5bf4a9c3df8b0a1:09a1952165e47f94:0:1
      X-Correlation-Id:
      - ba363d7ac9087f62d5bf4a9c3df8b0a1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6318'
      ratelimit-reset:
      - '1767034127'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392582
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d3b907d5c9a7642b6b4274bc9f5647ec:be3a9ca8793aace3:0:1
      X-Correlation-Id:
      - d3b907d5c9a7642b6b4274bc9f5647ec
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6314'
      ratelimit-reset:
      - '1767034129'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392582
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - bee998b60b5a678a5872888f183df7cf:39637c256c242906:0:1
      X-Correlation-Id:
      - bee998b60b5a678a5872888f183df7cf
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6312'
      ratelimit-reset:
      - '1767034131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/601931085392582
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 601931085392582,\n        \"status\":
        \"success\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2025-12-29T18:41:26Z\",\n        \"finished\":
        \"2025-12-29T18:41:27Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - f678432682a28a84e52dd3f9f1cceee1:e9e5c20e8aed90e4:0:1
      X-Correlation-Id:
      - f678432682a28a84e52dd3f9f1cceee1
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '6306'
      ratelimit-reset:
      - '1767034134'
    status:
      code: 200
      message: OK
version: 1
