interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/devcoop.de
  response:
    body:
      string: "{\n    \"zone\": {\n        \"id\": 53091,\n        \"name\": \"devcoop.de\",\n
        \       \"mode\": \"primary\",\n        \"ttl\": 86400,\n        \"labels\":
        {},\n        \"primary_nameservers\": [],\n        \"created\": \"2025-10-28T13:34:24Z\",\n
        \       \"protection\": {\n            \"delete\": false\n        },\n        \"status\":
        \"ok\",\n        \"authoritative_nameservers\": {\n            \"assigned\":
        [\n                \"hydrogen.ns.hetzner.com.\",\n                \"oxygen.ns.hetzner.com.\",\n
        \               \"helium.ns.hetzner.de.\"\n            ],\n            \"delegated\":
        [\n                \"helium.ns.hetzner.de.\",\n                \"hydrogen.ns.hetzner.com.\",\n
        \               \"oxygen.ns.hetzner.com.\"\n            ],\n            \"delegation_last_check\":
        \"2026-01-01T04:47:17Z\",\n            \"delegation_status\": \"valid\"\n
        \       },\n        \"record_count\": 30,\n        \"registrar\": \"hetzner\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ccbef3f3def492a4492b5688016e0a1c:f9a14b37609114e2:0:1
      X-Correlation-Id:
      - ccbef3f3def492a4492b5688016e0a1c
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3563'
      ratelimit-reset:
      - '1767714228'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.test/TXT\",\n
        \           \"name\": \"orig.test\",\n            \"type\": \"TXT\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"\\\"challengetoken\\\"\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - 9c07791afb5db008bb51e8d0ba9de4fb:9e842e968e5c9527:0:1
      X-Correlation-Id:
      - 9c07791afb5db008bb51e8d0ba9de4fb
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3562'
      ratelimit-reset:
      - '1767714229'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?type=TXT&name=orig.test
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        1\n        }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"orig.test/TXT\",\n
        \           \"name\": \"orig.test\",\n            \"type\": \"TXT\",\n            \"ttl\":
        3600,\n            \"labels\": {},\n            \"protection\": {\n                \"change\":
        false\n            },\n            \"records\": [\n                {\n                    \"value\":
        \"\\\"challengetoken\\\"\",\n                    \"comment\": \"\"\n                }\n
        \           ],\n            \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - d36fe9eb30bb46bda525b6574d77a2bd:e68814e6655fa80b:0:1
      X-Correlation-Id:
      - d36fe9eb30bb46bda525b6574d77a2bd
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3561'
      ratelimit-reset:
      - '1767714230'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 1,\n            \"per_page\":
        25,\n            \"previous_page\": null,\n            \"total_entries\":
        25\n        }\n    },\n    \"rrsets\": [\n  [...]
[...]
- request:
    body: '{"ttl": 3600, "records": [{"value": "\"challengetoken\"", "comment": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.test/TXT/actions/add_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835920,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - e058c7e5dc3b3effdf1bb717483c4641:e56e586d4fcc571e:0:1
      X-Correlation-Id:
      - e058c7e5dc3b3effdf1bb717483c4641
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714194'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835920
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835920,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 2485e13955b01e2b693eb5c85673f433:a6c109baaa6a13b6:0:1
      X-Correlation-Id:
      - 2485e13955b01e2b693eb5c85673f433
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714194'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835920
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835920,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d85934943f8bcd6faf94b1f32d679c9e:c4417263ca94d578:0:1
      X-Correlation-Id:
      - d85934943f8bcd6faf94b1f32d679c9e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714195'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835920
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835920,\n        \"status\":
        \"running\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        50,\n        \"started\": \"2026-01-06T15:43:11Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - fa8eff86422583b9b9773673c3a8265d:622719bc02d728a0:0:1
      X-Correlation-Id:
      - fa8eff86422583b9b9773673c3a8265d
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835920
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835920,\n        \"status\":
        \"success\",\n        \"command\": \"add_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:11Z\",\n        \"finished\":
        \"2026-01-06T15:43:15Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - c0bce0b39db85c2e06d164df4a78ec7a:45c7c1cee406b05c:0:1
      X-Correlation-Id:
      - c0bce0b39db85c2e06d164df4a78ec7a
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7195'
      ratelimit-reset:
      - '1767714197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets?page=2
  response:
    body:
      string: "{\n    \"meta\": {\n        \"pagination\": {\n            \"last_page\":
        1,\n            \"next_page\": null,\n            \"page\": 2,\n            \"per_page\":
        25,\n            \"previous_page\": 1,\n            \"total_entries\": 1\n
        \       }\n    },\n    \"rrsets\": [\n        {\n            \"id\": \"updated.test/TXT\",\n
        \           \"name\": \"updated.test\",\n            \"type\": \"TXT\",\n
        \           \"ttl\": 3600,\n            \"labels\": {},\n            \"protection\":
        {\n                \"change\": false\n            },\n            \"records\":
        [\n                {\n                    \"value\": \"\\\"challengetoken\\\"\",\n
        \                   \"comment\": \"\"\n                }\n            ],\n
        \           \"zone\": 53091\n        }\n    ]\n}"
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="prev"
      - <https://api.hetzner.cloud/v1/zones/53091/rrsets?page=1&per_page=25>; rel="last"
      Uber-Trace-Id:
      - bfe690693c786780d3d12aaac459b0e5:99e41cf6e87e5899:0:1
      X-Correlation-Id:
      - bfe690693c786780d3d12aaac459b0e5
      ratelimit-limit:
      - '3600'
      ratelimit-remaining:
      - '3560'
      ratelimit-reset:
      - '1767714235'
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/orig.test/TXT/actions/remove_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835940,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - b209e01f25d917a0f8c67ede91198c5e:6b447a267b7d0b86:0:1
      X-Correlation-Id:
      - b209e01f25d917a0f8c67ede91198c5e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1767714198'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835940
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835940,\n        \"status\":
        \"running\",\n        \"command\": \"remove_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:15Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - ccceb7f95981047270f2cc28c223ce8e:7d3d410a327fc204:0:1
      X-Correlation-Id:
      - ccceb7f95981047270f2cc28c223ce8e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7194'
      ratelimit-reset:
      - '1767714199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"records": [{"value": "\"challengetoken\""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hetzner.cloud/v1/zones/53091/rrsets/updated.test/TXT/actions/set_records
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835949,\n        \"status\":
        \"running\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        0,\n        \"started\": \"2026-01-06T15:43:18Z\",\n        \"finished\":
        null,\n        \"error\": null,\n        \"resources\": [\n            {\n
        \               \"id\": 53091,\n                \"type\": \"zone\"\n            }\n
        \       ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 90f04832dbd9e014b171d92bb840125e:fb0993068d6982b6:0:1
      X-Correlation-Id:
      - 90f04832dbd9e014b171d92bb840125e
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1767714201'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.hetzner.cloud/v1/zones/actions/603554582835949
  response:
    body:
      string: "{\n    \"action\": {\n        \"id\": 603554582835949,\n        \"status\":
        \"success\",\n        \"command\": \"set_rrset_records\",\n        \"progress\":
        100,\n        \"started\": \"2026-01-06T15:43:18Z\",\n        \"finished\":
        \"2026-01-06T15:43:20Z\",\n        \"error\": null,\n        \"resources\":
        [\n            {\n                \"id\": 53091,\n                \"type\":
        \"zone\"\n            }\n        ]\n    }\n}"
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 516cb6daf3d4f4c3df61301cd67b85c7:92706c8783c58e37:0:1
      X-Correlation-Id:
      - 516cb6daf3d4f4c3df61301cd67b85c7
      ratelimit-limit:
      - '7200'
      ratelimit-remaining:
      - '7193'
      ratelimit-reset:
      - '1767714204'
    status:
      code: 200
      message: OK
version: 1
